[2021-07-29 02:07] guzongmin commented on #567
@mirazsunny You need to copy the gzip_copy.c into image folder too.
cp gzip_copy.c image/

[2021-07-29 14:02] mirazsunny commented on #567
Thanks for replying.

I copied the file still showing the same result. `cp ../gzip_copy.c image/`

Then I run: `occlum run /bin/gzip image/gzip_copy.c`

Output is: `gzip: /image/gzip_copy.c: No such file or directory`

[2021-07-29 14:12] guzongmin commented on #567
occlum run /bin/gzip  ../gzip_copy.c
You should use the path inside occlum.

[2021-07-29 15:06] mirazsunny commented on #567
Thanks for replying. It's working now.

[2021-07-29 15:06] #567 closed

[2021-07-30 02:20] asdfsx commented on #561
@guzongmin you mean the shell script code or python code?

[2021-07-30 02:49] guzongmin commented on #561
Occlum is just like a container, each instance has its own file system. So if you want to share something between two Occlum instance, you need to use gRPC or something similar.

[2021-07-30 04:26] asdfsx commented on #561
@guzongmin So the only way to share sth between 2 occlum container is network communication.

What about 2 app in same occlum container? can they share the same sefs?

The error I just met is sharing same sefs between 2 apps inside one occlum container.

But it doesn't happen anymore.

[2021-07-30 04:39] guzongmin commented on #561
Two apps inside one Occlum instance means that the two applications are using the same SEFS. Of course, the two applications are able to share any file.

[2021-07-30 04:56] asdfsx commented on #561
After read some code in [github.com/occlum/sefs](https://github.com/occlum/sefs)

I guess the problem is the 2nd app try's to read/write the inode the 1st app modified but haven't synced yet.

Fox example, the `log` directory. Right now two apps sharing the same directory to write logfile.

If it's true, may be I should create 2 independent log directory for both app.

[2021-07-30 05:11] #422 closed

[2021-07-30 05:15] guzongmin commented on #432
Close this issue, since Ubuntu 20.04 would not be supported now.

[2021-07-30 05:15] #432 closed

[2021-07-30 05:22] guzongmin commented on #497
Close this issue for no more active topics.

[2021-07-30 05:22] #497 closed

[2021-07-30 05:24] guzongmin commented on #487
num: SigNum (#11 = SIGSEGV), code: 2, addr: Some(140322619625472)  shows that there is a bug in the code. Can you please check the code again?

[2021-07-30 05:25] #470 closed

[2021-07-30 05:26] guzongmin commented on #456
It is a limitation of the simulation mode, fixed.

[2021-07-30 05:26] #456 closed

[2021-07-30 05:27] guzongmin commented on #466
Could not reproduce. Close it.

[2021-07-30 05:27] #466 closed

[2021-07-30 05:29] guzongmin commented on #455
Could not reproduce. Close it.

[2021-07-30 05:29] #455 closed

[2021-07-30 05:31] guzongmin commented on #436
Close it for no more active topics.

[2021-07-30 05:31] #436 closed

[2021-07-30 05:32] guzongmin commented on #379
Supported

[2021-07-30 05:32] #379 closed

[2021-07-30 05:48] guzongmin commented on #119
No more active discussion, close this issue.

[2021-07-30 05:48] #119 closed

[2021-07-30 05:55] guzongmin commented on #369
@pegahnikbakht When you try to run any application inside Occlum you need to use a correct path of the application. For example, in hello world demo, user copy hello_world into image/bin/ folder, then do occlum build and occlum run /bin/hello_world

[2021-07-30 05:57] guzongmin commented on #127
DCAP demo is checked in.

[2021-07-30 05:57] #127 closed

[2021-07-30 06:04] guzongmin commented on #153
No more discussion, close it.

[2021-07-30 06:04] #153 closed

[2021-07-30 08:22] guzongmin commented on #353
For java applications, the parameter "-Dos.name=Linux" would solve this issue.

[2021-07-30 08:22] #353 closed

[2021-07-30 08:22] guzongmin commented on #326
Duplicate

[2021-07-30 08:22] #326 closed

[2021-07-30 08:24] guzongmin commented on #216
No more discussions, close it.

[2021-07-30 08:24] #216 closed

[2021-07-30 08:25] guzongmin commented on #132
No more discussions, close it.

[2021-07-30 08:25] #132 closed

[2021-08-02 08:43] guzongmin commented on #433
Occlum creates the /etc/resolv.conf for you now
https://github.com/occlum/occlum/commit/d35d98d551bea98174f88fa7b639be79af1caaa9

Enjoy it

[2021-08-02 08:43] #433 closed

[2021-08-03 06:49] asdfsx commented on #561
@guzongmin maybe I find a bug related to `ulimit`

my fish-script
[code]

I set the heap size to `256000`

but the output of the `ulimit -a` is
[code]

I think the 2nd line should not be 32768.

And it seems the ulimit doesn't support `unlimited` parameter, am I right?

[2021-08-03 06:53] liqinggd opened #570 "[RFC] Remove the mount config for the "/tmp" directory."
- Feature Name:  Remove the mount config for the "/tmp" directory
- Start Date: 2021-08-03

# Summary
[summary]: #summary

This RFC requests to remove the mount config for the "/tmp" directory.

# Motivation
[motivation]: #motivation

## Temporary files management on Linux

The "/tmp" directory is managed by `systemd-tmpfiles` in many popular Linux Distributions(e.g. CentOS/RHEL/Ubuntu) which use

[2021-08-03 11:43] tatetian commented on #565
I totally agree with the motivation of the RFC. But I think the syntax needs some rethinking to make it more user friendly. Here is an alternative, YAML-based syntax for BOM. I didn't have the time to come up with a formal spec for the syntax. But here is a sample code to give your an idea.

[code]

[2021-08-03 11:45] #570 closed

[2021-08-03 13:08] jessehui commented on #561
Could you try `ulimit -Sv` first and then set stack and data? If it still doesn't give the correct value,  you can check the return value to make sure `ulimit` success or add `OCCLUM_LOG_LEVEL=trace` when running the script.

Correct. Setting `unlimited` is not supported.

[2021-08-04 10:25] asdfsx commented on #561
@jessehui After change the scripts to
[code]
The return value is correct.

So why should I use `ulimit -Sv` first? why is the order so important?

[2021-08-04 10:36] guzongmin commented on #561
When you are running "ulimit -Sd 256000", the heap size is larger than the total memory limit, so it failed.

[2021-08-05 09:52] #241 closed

[2021-08-05 11:58] asdfsx commented on #561
@guzongmin So, if I don't set `ulimit -Sv 6184000`, how big is the default memory limit?

[2021-08-06 00:31] #554 closed

[2021-08-06 01:40] #502 closed

[2021-08-06 02:03] asdfsx opened #579 "Occlum Error: syscall `Mbind` unimplement, while running python script with python3.9"
I install pyhton3.9 into the occlum container, then execute python script using command `OCCLUM_LOG_LEVEL=INFO occlum /bin/python3 test_lr.py`. Then I got the following logs.

[code]

The python script

[code]

It seems the scripts stuck while executing `lm.fit(x, y_true)`, cause of the unimplement syscall `mbind`.

[2021-08-06 05:02] guzongmin commented on #501
Not an issue

[2021-08-06 05:02] #501 closed

[2021-08-06 05:04] guzongmin commented on #547
@zchunhai Only one Occlum instance is able to access the SEFS.

[2021-08-06 05:41] asdfsx commented on #579
Add more logs
[code]

[2021-08-06 05:50] guzongmin commented on #579
@asdfsx Can you please run: OCCLUM_LOG_LEVEL=trace occlum /bin/python3 test_lr.py and then attach the entire log file?

[2021-08-06 06:49] StevenJiang1110 commented on #565
After discussion, something has come to a conclusion:
- We should add a symbolic-link entry to enable user to create symbolic link in occlum image
- When copying symbolic links, we will follow the link to copy the real files.
- The field of `target_executable` will be changed to `auto_dependence` . To find dependences for an elf file or shared object is a default behavior.
- We should keep the src

[2021-08-06 10:29] asdfsx commented on #579
So how do I send log files to you? @guzongmin

[2021-08-06 11:10] guzongmin commented on #579
Can you please attach the log here?

[2021-08-06 11:16] guzongmin commented on #579
occlum run /bin/python3 demo.py
end: impot
end: make_classification
end: LogisticRegression
/opt/python-occlum/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
end: fit
end: predict
end: accuracy_score
end: precision_score
end: recall_score
end: f1_score
end

[2021-08-06 11:30] asdfsx commented on #579
@guzongmin
I'm using occlum 0.23.1

And I execute the lr_test.py inside occlum container created by `demos/python/python_glibc` and got `lr_test_SchedYield_94000_head.log`
[lr_test_SchedYield_94000_head.log](https://github.com/occlum/occlum/files/6945127/lr_test_SchedYield_94000_head.log)

Then I create another occlum container, and install the following packages, then I got `lr_test_mbind.log`

[

[2021-08-06 12:15] guzongmin commented on #579
https://github.com/occlum/occlum/tree/master/demos/python/python_glibc
@asdfsx you could reference this demo. You could replace the demo.py with your code.

[2021-08-06 12:26] asdfsx commented on #579
I download occlum 0.23.6, and running the demo. And find conda install mkl into the occlum environment.

But in occlum 0.23.1, the conda does't install mkl, so the numpy & scipy are using openblas instead. We used to guess the problem is caused by openblas.

[2021-08-11 01:58] asdfsx commented on #579
@guzongmin
After some test, I can confirm that the problem comes from libopenblas which is used by numpy/scipy.
To solve the problem, the Numpy/Scipy should be installed by using command `conda install -p image/opt/python-occlum --yes --file`. This version use MKL not openBLAS.
 Do not add `-c conda-forge`, unless you want to install openBLAS

[2021-08-11 01:58] #579 closed

[2021-08-11 02:02] #561 closed

[2021-08-11 05:44] qzheng527 opened #586 "JAVA file getUsableSpace returns strange values (SEFS)"
In developing sofaboot (spring boot), the health check always failed due to the "diskSpace" check.
It returns total disk size as 256k which is much smaller than the threshold 10M.
Tracing the calling process, the issue happened in the flow as below.

**java getUsableSpace->syscall Statfs->...->sefs info.**

From the definition, **the default block size is set to 128, while blocks is set to 128*8=1

[2021-08-11 06:07] liqinggd commented on #586
The `block_size` is big enough to store one INode's information in the metadata file, so the block_size is 128bit.

The `blocks` is the number of blocks used in SEFS, is will be increased if allocate new block group.

Maybe the meaning of this information is not consistent with Linux, then we can change it

[2021-08-11 06:14] qzheng527 commented on #586
“The blocks is the number of blocks used in SEFS, is will be increased if allocate new block group.”
But it can't exaplain why the blocks is so small (2048) in my another very heavy sofaboot occlum app.
Only the jar file is over 100M why the total size return is only 128*2048=256K?
[code]

[2021-08-11 06:17] liqinggd commented on #586
”allocate new block group“ means the filesystem has many files, so one block group is not enough to hold the metadata of the files.

[2021-08-11 06:23] liqinggd commented on #586
Linux FS uses block_size as the size of the data block, but SEFS's block is the metadata of INode, to fix it, we should change it.

[2021-08-11 06:46] qzheng527 commented on #586
Anyway, the app calling getUsableSpace expects the correct total size, free space size, used space size.
Even changing the block_size to 4096, I don't see correct values.
The calculating used space size couldn't reflect the actual status.

BTW, the "busybox df" in fishshell couldn't work in Occlum as well.
Looks like it trys to read the mount info but failed.

[2021-08-11 11:38] qzheng527 opened #589 "[RFC] Add SGX KSS (Key Separation and Sharing feature) support on Occlum"
- Feature Name: Add SGX KSS (Key Separation and Sharing feature) support on Occlum
- Start Date: 2021-8-11

# Summary
[summary]: #summary

Starting from SGX2, there is a new **Key Separation and Sharing feature** which current Occlum doesn't support . This RFC gives a design proposal about supporting KSS on Occlum.

# Motivation
[motivation]: #motivation

The new **Key Separation and Sharing featu

[2021-08-11 11:59] guzongmin commented on #589
Should we use Base64 in the ConfigID file? Because most of the time, Occlum launcher get the ID from network.

[2021-08-12 03:36] qzheng527 opened #592 "[BUG] The way to check sofaboot demo health is not enough"
# Describe the bug
In current action demo_test.yml, the result is checked by command **"curl http://localhost:8080/actuator/versions"**.
But actually, the verisons return success doens't mean the sofaboot( spring boot) is really healthy.
To make sure the sofaboot health, the below example code may be used.
[code]

# To reproduce
Steps to reproduce the behavior:
1.  Build and run the demo in occlum

[2021-08-12 06:14] jessehui opened #593 "[BUG] CPUID test failure on Aliyun SGX v2 VM"
# Describe the bug
A clear and concise description of what the bug is.
CPUID test failure. Log:
[code]

# To reproduce
Steps to reproduce the behavior:
1. TESTS=cpuid make test

# Environment

- HW: [e.g. SGX1, SGX2] SGX2
- OS: [e.g. Ubuntu18.04, CentOS8.2] Ubuntu 18.04
- Occlum version: [e.g. 0.17.0] 0.23.7

# Additional context
lscpu:
[code]

# Possible solution/Implementation
Not obligatory, bu

[2021-08-12 06:21] jessehui opened #594 "[RFC] ioctl SGXIOC_GET_EPID_GROUP_ID test failure on Aliyun SGX v2 VM"
# Describe the bug
ioctl SGXIOC_GET_EPID_GROUP_ID test failure.

# To reproduce
Steps to reproduce the behavior:
1. TESTS=ioctl make test

# Logs
If applicable, add logs to help explain your problem.
[code]

# Environment

- HW: [e.g. SGX1, SGX2] SGX2
- OS: [e.g. Ubuntu18.04, CentOS8.2] ubuntu
- Occlum version: [e.g. 0.17.0] 0.23.7

# Additional context
Add any other context about the problem here

[2021-08-12 06:22] guzongmin commented on #594
SGX V2 only support DCAP, EPID case should fail.

[2021-08-12 09:44] qzheng527 commented on #589
Discussed with Zongmin, file is not a proper way in cloud native env to pass information.
Updated the RFC to use BASE64 string to pass CONFIG ID information.

[2021-08-16 04:45] tatetian commented on #589
My fundamental concern about PR is whether it really explores the real value of the KSS feature. This RFC propose simply exposes Intel SGX SDK's KSS feature to the Occlum users. What if we choose an alternative approach where we leverage KSS in Occlum itself and provide high-level features that enabled by KSS to the end users?

Let me quote from a blog named [Upcoming Intel SGX features explained]

[2021-08-16 05:40] yuanwu2017 opened #601 "[RFC]Add a slient mode to prevent the log print of applications"
In federated learning，the training worker should not print the training privacy to screen. In order to preventing some spiteful or careless print, Occlum should add a silent mode in occlum. In this mode, occlum will not print the logs into screen.

[2021-08-16 06:11] #601 closed

[2021-08-16 12:09] yuanwu2017 opened #603 "[RFC]"
- Feature Name: (fill me in with a unique ident, `my_awesome_feature`)
- Start Date: (fill me in with today's date, YYYY-MM-DD)

# Summary
[summary]: #summary
Occlum should add a silent mode. In this mode, occlum will not print the application logs into screen, and show the warning of the log print is blocked.

# Motivation
[motivation]: #motivation

The silent mode can prevent some spiteful or ca

[2021-08-17 02:35] guzongmin commented on #603
@yuanwu2017 As a temp solution, the user could add a shell script to open the target application. At the meantime, in the script, the application out put could be redirected to a local file to avoid any output logs.
Is there any case which is not handled by this way?

[2021-08-17 06:48] guzongmin commented on #589
I realized that the KSS feature would impact the RA quote struct. So if Occlum use any of them, then Occlum need to document what is the meaning of the value and how to check it. When Occlum has any update, the RA checker needs to update the validation logic. It would be a big effort for end-user.  So I think we should leave all those KSS IDs to end-user.

Occlum do get benefit from the KSS featur

[2021-08-18 00:25] guzongmin commented on #603
Adding an execution parameter "--silent_mode=true" does not solve the problem, because if the log does leak any secret, the hacker could remove the flag and execute the command again.
So I propose to add the "silent" flag into the Occlum.json file. If this flag is true, then Occlum would not print anything out.

[2021-08-18 05:55] yuanwu2017 commented on #603
Good Idea! It is more reasonable.

[2021-08-19 09:51] ClawSeven opened #604 "[RFC]Manage hosts, hostname file with Uname, Sethostname, Setdomainname syscalls"
- Feature Name: hosts file, hostname file, Uname, Sethostname, Setdomainname syscalls
- Start Date: 2021-08-17

# Summary
[summary]: #summary

At present, occlum initializes with certain nodename "occlum-node", however, current environment doesn't contain "/etc/hosts" file, which causes crash when requiring parsing address of the local host. This RFC gives a design proposal about supporting parsin

[2021-08-19 11:02] guzongmin commented on #380
Task finished

[2021-08-19 11:02] #380 closed

[2021-08-20 06:24] guzongmin commented on #202
https://github.com/occlum/occlum/commit/d35d98d551bea98174f88fa7b639be79af1caaa9
feature supported

[2021-08-20 06:24] #202 closed

[2021-08-20 06:44] guzongmin commented on #604
In this RFC, the default behavior is "Using the hosts' /etc/hosts and /etc/hostname in Occlum". It is good, because it aligns with the docker "--net=host". But I am not sure whether it is enough. Do we need to add two parameters to help user set their own hostname or hosts configuration?

[2021-08-20 06:45] jessehui opened #607 "[RFC] Memory Management for SGX v2"
- Feature Name: memory_management_for_sgx_v2
- Start Date: 2021-8-20

# Summary
[summary]: #summary

With the emerging of SGX v2 in practical usage and SGX in-kernel driver getting more mature, EDMM support will have to start.  This RFC is targeting the memory management design with SGX v2 hardware ➕ EDMM supported driver ➕ NGO (with in-enclave scheduling).

# Motivation
[motivation]: #motivation

[2021-08-20 07:00] qzheng527 commented on #604
What if we add one argument `"--hostname"` for `"occlum run"` just like the docker way.

[2021-08-20 07:16] ClawSeven commented on #604
Docker has implemented a net forward parser, when parsing "--hostname", docker also changes the hosts file. The program in docker connects the outer host with the help of net forward parser. I think it is not necessary.

Take a simple example, this part is /etc/hosts in host.  iZuf65fukrpz70hx99om7aZ is hostname and machine name. This /etc/hosts  gives a LAN when parsing hostname.

`127.0.0.1

[2021-08-20 07:33] guzongmin commented on #604
Seems that, if we do want to let the user control the hostname, then we at least need two arguments: --hostname [name] and --hosts [hosts file path]. User needs to take the responsibility to set the correct IP in the hosts file in this case.

[2021-08-20 08:59] guzongmin commented on #607
+ I think we should make the configuration as simple as possible. We could set default values for all those resource related configurations. In most of the case, user does not need to adjust them. If the default configuration does not work, Occlum should print the suggestion in the log to tell the user how to handle it.
+ In the first design, all the processes' memory are mixed together. If each p

[2021-08-20 09:17] jessehui commented on #607
I agree with the first and third points. For the second point, I think the general usage for Occlum would be verifying and debugging in the native Linux and then run in Occlum. Thus, this will not be a big problem. Adding guarded pages to each mmap would take too much space.

[2021-08-20 10:28] guzongmin commented on #607
If the application is using RA, then it is not able to work under Linux.

[2021-08-21 14:21] 99Kies opened #608 "The environment problem of platform construction"
Can I build Occlum on the cloud service or virtual machine platform? I don't know what the hardware or environment requirements of this platform are.

[2021-08-22 07:51] 99Kies commented on #608
So as long as it is an Ubuntu 18.04 system, can it be built?

[2021-08-22 07:59] guzongmin commented on #608
Ubuntu 18.04 is the default Occlum build system. Below is the docker file used to build the Occlum release.
https://github.com/occlum/occlum/blob/master/tools/docker/Dockerfile.ubuntu18.04

[2021-08-23 02:38] 99Kies commented on #608
I know these contents. My doubt lies in the hardware requirements. Can I use the cloud service virtual machine to build this?

[2021-08-23 02:49] jessehui commented on #608
The building process doesn't have hardware requirements. We build Occlum release on Github Actions's virtual machine these days.

[2021-08-24 06:58] 99Kies commented on #608
Can I understand it this way? `Occlum` builds a trusted environment at the software level. As long as it is an Ubuntu 18.04 machine, a trusted environment can be realized. Whether it is `Intel` architecture or `ARM` architecture

[2021-08-24 08:06] jessehui opened #609 "[BUG] occlum exec multiple times and kernel heap runs out"
# Describe the bug
Use `occlum start` to start the server and then use `occlum exec` multiple times to execute Spark. In the sixth run, the program crashed. Take a look at the log and it shows:
[code]
It seems the kernel heap size runs out.

Ideally, when `occlum exec` ends, all resources related to the process should be freed. Thus, this log indicates that there is memory leakage.

# To reproduce

[2021-08-24 08:46] kunmel opened #610 "failed to run example golang/web_server on ubuntu 18.04"
After installed occlum and occlum-go on ubuntu18.04, I was trying to build the 'golang/web_server' but it failed.
1. downgraded the kernel to 4.15.0 and installed enable_rdfsbase as suggested.
2. hello_world demo runs well, but all golang demos have the same problem.

Here is the log of 'web_server':
[code]

[2021-08-24 08:51] kunmel commented on #610
the go version is 1.13.7

[2021-08-24 09:40] guzongmin commented on #610
@kunmel What is the Occlum version you are using?

[2021-08-24 10:23] kunmel commented on #610
Thank you for your reply. The Occlum version is 0.21.0.
And after I run 'OCCLUM_LOG_LEVEL=trace occlum run /bin/web_server' the log is:
[log.txt](https://github.com/occlum/occlum/files/7038434/log.txt)

[2021-08-24 10:35] kunmel commented on #610
@guzongmin It works in docker mod with the latest image, so maybe it's because the version I installed is too old?

[2021-08-24 10:36] guzongmin commented on #610
@kunmel Can you please try 0.23.7? We have solved a lot of issue in the old version.

[2021-08-24 10:37] guzongmin commented on #610
You could get the 0.23.7 docker image on dockerhub.

[2021-08-24 10:41] kunmel commented on #610
Ok, thank you for your help, I will try the 0.23.7.

[2021-08-24 11:46] asdfsx opened #611 "[BUG] syscall Getrandom doesn't implement"
I'm trying to use CurveZMQ, but got following error

[code]

[2021-08-24 11:48] guzongmin commented on #611
Got it. Will add it soon.

[2021-08-25 03:00] kunmel commented on #610
@guzongmin  Hi, I tried it on 0.23.7 in docker mod and the demo runs well.
But I got the following error when I setup the docker container, maybe it's because my machine  supports only SGX1 but not FLC feature?
How can I solve this problem？
[code]

[2021-08-25 03:12] guzongmin commented on #610
Are you able to run the demo? I think the QE3 issue should not impact you.

[2021-08-25 03:22] kunmel commented on #610
Yes, I can run the golang demos. So should I just ignore this QE3 error? Because I don't know if it will have an impact.

[2021-09-03 04:27] a3213105 opened #622 "[BUG]could not create shared memory segment: Function not implemented"
Hi, I want to use shared memory in Occlum, but it returns an error. Does Occlum not support shared memory? Or how can I solve this problem?

2021-09-03 01:49:36.239 UTC [2] FATAL:  could not create shared memory segment: Function not implemented
2021-09-03 01:49:36.239 UTC [2] DETAIL:  Failed system call was shmget(key=12, size=56, 03600).

[2021-09-03 05:46] guzongmin commented on #622
We are reorganizing the memory management, would support it soon.

[2021-09-05 08:00] #586 closed

[2021-09-06 05:55] lcmfq opened #624 "[BUG] "Fail to get quote report from IAS" when I run remote attestation"
# Describe the bug
A clear and concise description of what the bug is.
When I  run the remote attestation in SIM_Mode I get "[ERROR][/root/occlum/demos/remote_attestation/lib/src/ra_ias.cpp:293] Fail to get quote report from IAS
[ERROR][/root/occlum/demos/remote_attestation/lib/src/ra_quote.cpp:187] [Function] GetEnclaveIasReport
Fail to get quote or fetch report, error code is 5040000!"

# Logs
*

[2021-09-06 11:20] #611 closed

[2021-09-08 00:32] guzongmin commented on #624
@lcmfq I checked the daily test result, the RA case passed.
I think maybe the issue is: simulation mode is used to develop RA related application. SGX RA is a HW feature, under simulation mode you would build the application, but it is NOT able to work as you expected. You need an SGX HW to test it.

[2021-09-08 08:22] lcmfq commented on #624
Thank you！ I try with HW

[2021-09-16 09:51] qzheng527 commented on #592
Submitted a PR for the [fix](https://github.com/occlum/occlum/pull/633)

[2021-09-16 13:31] kunmel opened #634 "Out of memory error when I run golang project"
I meet this error when I run golang project with occlum,  but it is not included in `Resource Configuration Guide`，please tell me the reason for this problem and  which parameter should I enlarge in Occlum.json.   :
[code]
Here is part of my Occlum.json:
[code]

[2021-09-17 00:02] guzongmin commented on #634
@kunmel The doc https://github.com/occlum/occlum/blob/master/docs/resource_config_guide.md shows some cases to help you config the memory.
In your case, it could be "resource_limits.kernel_space_heap_size".

[2021-09-17 03:08] kunmel commented on #634
@guzongmin Sorry, I think this error may be caused by go-ethereum , not due to occlum. I found that the go-ethereum needs 64bit machine and os, do you think this is the problem?

[2021-09-17 03:13] guzongmin commented on #634
@kunmel Occlum does support 64bit environment. It is the default behavior.

[2021-09-17 03:26] kunmel commented on #634
@guzongmin OK，I will continue to look for the reason. Thank you for your help!

[2021-09-17 03:26] #634 closed

[2021-09-18 02:48] jcsora opened #640 "[BUG][ERROR] occlum-pal: SIGILL Caught ! (line 37, file src/pal_check_fsgsbase.c)"
When I enter the docker container (image: occlum/occlum:0.24.1-ubuntu18.04)
then execute:

[code]

Following error messages are displayed:

[code]

[2021-09-18 02:52] guzongmin commented on #640
"FSGSBASE enablement check failed" means you need to update your kernel to 5.11 or install fsgsbase driver (https://github.com/occlum/occlum#how-to-use).

[2021-09-18 02:57] jcsora commented on #640
Thank you very much. I was negligent and did not read the instructions carefully. sorry.

[2021-09-18 02:57] #640 closed

[2021-09-18 03:15] guzongmin commented on #640
@jcsora Do not need to say sorry. You are welcome. I am very glad to know that you are using Occlum.

[2021-09-18 03:19] #592 closed

[2021-09-18 09:25] #565 closed

[2021-09-19 14:32] RisingV opened #642 "[BUG]Make submodule failed."
# Make submodule failed.

[code]

error messages are like beyond and I have executed command below to add `/opt/intel/sgxsdk/sdk_libs` to `LD_LIBRARY_PATH`
[code]
After executing this, `make submodule` still failed.

And I found there no `sgx_urts_sim_with_se_event.so` in `/opt/intel/sgxsdk/sdk_libs`

How can I fix ?

[2021-09-22 02:09] qzheng527 opened #643 "[BUG] The occlum toolchains source in the docker build are not from the expected occlum version"
# Describe the bug
In current Occlum Docker file, the tool chain build happen before the Occlum build which is correct.
But the tool chain source are from the host local path nor from the specified Occlum version when doing Occlum docker build.
For example, `musl-gcc`:
[code]

# To reproduce
Steps to reproduce the behavior:
1. ./build_image.sh 0.23.7 ubuntu18.04
2.  the toolchains source are from

[2021-09-22 02:36] guzongmin commented on #642
@RisingV Can you please reference https://github.com/occlum/occlum/blob/master/tools/docker/Dockerfile.ubuntu18.04 to build Occlum from scratch?
The more easy way to build occlum is using Occlum docker file. You can get it by: docker pull occlum/occlum:0.24.0-ubuntu18.04

[2021-09-22 11:46] qzheng527 commented on #643
Fixed on [PR](https://github.com/occlum/occlum/pull/645)

[2021-09-22 11:46] #643 closed

[2021-09-24 09:40] ziqi-zhang opened #648 "How to deliver variables between SGX and untrusted environments"
Hi,

I want to implement a python program that needs to transmit variables between SGX and untrusted environments. I read some documents and examples but they didn't cover how to transmit variables in and outside the SGX. I was wondering is there any documents about how to implement such features?

Thanks,

[2021-09-24 09:44] guzongmin commented on #648
@ziqi-zhang What is the variables? In general, you could host a grpc server inside Occlum. Below is a sample
https://github.com/occlum/occlum/tree/master/demos/grpc

[2021-09-24 09:49] ziqi-zhang commented on #648
@guzongmin Thanks very much for your quick reply. I want to implement a pytorch model and the features and weights need to be transmitted. Is grpc compatible with pytorch models?

[2021-09-24 10:36] guzongmin commented on #648
I think grpc is able to handle all the cases. But it is a bit heavy for a simple demo. So it depends on what you are doing now.

[2021-09-25 16:23] ziqi-zhang commented on #648
Thanks!

[2021-09-25 16:23] #648 closed

[2021-10-09 11:30] qzheng527 opened #678 "[BUG] Occlum provided BASH couldn't support redirect comands with env variable"
# Describe the bug
Occlum couldn't support fork, thus the original BASH couldn't be supported.
Instead, Occlum provides a modified [`BASH version`](Occlum provided BASH couldn't support redirect comands with env variable) for the use in Occlum.

But it can't successfully parse redirect comands with env variable.
For example, a test script `test.sh` as below.
[code]

# To reproduce
Steps to reprodu

[2021-10-11 07:13] jcsora opened #679 "[BUG]error running python demo"
# Describe the bug
Error running python_glibc demo in docker container.

# To reproduce
Steps to reproduce the behavior:
1. docker-compose exec occlum bash
2. cd demos/python/python_glibc
3. ./install_python_with_conda.sh
4. ./run_python_on_occlum.sh

# Expected behavior
Successfully run demo.

# Logs
[code]

# Environment

- HW: SGX2
- OS: Ubuntu 20.04.3 LTS
- Kernel version: 5.14.0-051400-generi

[2021-10-12 01:31] jcsora commented on #679
I found these error messages:
[code]

The full error message is here:
[https://drive.google.com/file/d/1g4MK9vQ_U7ZVNaszMtFKOFyW237nKWcF/view?usp=sharing](url)

[2021-10-12 02:37] guzongmin commented on #679
@jcsora It seems related to the Linux configuration. I found https://support.datameer.com/hc/en-us/articles/204075324-IOException-error-24-Too-many-open-files is talking about it. Can you please try it on your system ?

[2021-10-14 01:47] qzheng527 opened #680 "[BUG] Suspect memory leak on Occlum FS"
# Describe the bug
Once doing a long loop FS operation, the Occlum eventually will panic with below log:
[code]
Increase the `kernel_space_heap_size` may delay the issue but can't fix it.

# To reproduce
Steps to reproduce the behavior:
Using the script below could reproduce the issue.
[code]

BOM file for referene.
[code]

`Occlum run /bin/test.sh` will trigger the panic.

# Expected behavior
No

[2021-10-15 03:08] lcmfq opened #684 "[BUG]EPID based remote attestation failed"
# Describe the bug
When I run remote_attestation/epid, I get an error "Fail to get group id from  /dev/sgx"

# To reproduce
Steps to reproduce the behavior:
1. {
      "ias_url": "https://api.trustedservices.intel.com/sgx/dev/attestation/v4",
      "ias_access_key": "<YourAccessKey>",
      "enclave_spid": "<YourSPID>"
}
Subscription nameProduct DEV Intel® Software Guard Extensions Attestation Ser

[2021-10-15 03:19] guzongmin commented on #684
@lcmfq Is it your first time to use occlum  remote_attestation/epid?

[2021-10-15 05:40] lcmfq commented on #684
yes

[2021-10-15 06:36] guzongmin commented on #684
@lcmfq Would you please try SGX SDK remote attestation demo before the occlum one. Try to confirm the HW status is correct.

[2021-10-15 07:36] lcmfq commented on #684
when I try to run SGX SDK remote attestation demo,I get Error, call sgx_ra_get_msg1_ex fail [main] .It seems a bios error.
But, I can get  sgx_get_extended_epid_group_id success.

First round, we will try ECDSA algorithm.

Call sgx_get_extended_epid_group_id success.
MSG0 body generated -
4 bytes:
{
0x0, 0x0, 0x0, 0x0
}

Sending msg0 to remote attestation service provider.

Sent MSG0 to remote att

[2021-10-15 07:47] guzongmin commented on #684
@lcmfq The occlum major dev machine is SGX2 HW now. I will update the status when I have time to try it on SGX1 machine.

[2021-10-15 07:51] guzongmin opened #685 "[BUG] The brk return code is incorrect"
# Describe the bug
The brk syscall return -1 when the parameter is out of the area. It is incorrect.

[code]
[https://man7.org/linux/man-pages/man2/brk.2.html](https://man7.org/linux/man-pages/man2/brk.2.html)

The reference shows that syscall should always return a correct brk address .

# Environment

- HW: [e.g. SGX1, SGX2]
- OS: [e.g. Ubuntu18.04, CentOS8.2]
- Occlum version: [e.g. 0.17.0]

[2021-10-18 05:43] #680 closed

[2021-10-18 11:15] fnerdman opened #690 "[Question] Reproducible Builds"
One use case for Occulum could be an open source application where - by knowing the MRENCLAVE and having all the enclaves source and configuration files - a third party would be able to rebuild the enclave and come to the same MRENCLAVE. Imagine e.g. a blockchain oracle running as an SGX enclave. Such an application could only be trusted by a 3rd party if it could reproducibly build the enclave.

[2021-10-19 00:19] guzongmin commented on #690
@lead4good "Reproducible" is really important for Occlum project. Thanks to Rust, Occlum itself is reproducible. But Occlum slightly updated the SGX SDK and Rust SGX SDK code. So, in order to achieve this goal, we should make the SGX SDK and Rust SGX SDK reproducible. I know SGX SDK has a reproducible version, and I think Rust SGX SDK would be reproducible too. Please give us some time to integrat

[2021-10-19 01:55] guzongmin opened #693 "[BUG] mkdir unit test failed"
# Describe the bug
The mkdir test case failed in stress test.

https://github.com/occlum/occlum/runs/3930201687?check_suite_focus=true

2021-10-18T20:00:40.4786095Z [1;36mRUN TEST => mkdir[0m
2021-10-18T20:00:40.5082853Z memory allocation of 1377080 bytes failedError: -1
2021-10-18T20:00:40.5088195Z make[4]: *** [test] Error 1
2021-10-18T20:00:40.5088901Z ../test_common.mk:74: recipe for target

[2021-10-19 02:36] guolanting commented on #679
@guzongmin why occlum need to open so many files at the same time?   It seems a bug of occlum.

[2021-10-19 06:19] guolanting commented on #679
Of course. But I am busy now, maybe later this week.

[2021-10-19 07:40] #693 closed, assigned to liqinggd, guzongmin

[2021-10-20 02:10] lz18064638846 opened #695 "How to get real kernel thread tid under occlum?"
When I try to use gettid syscall in my code to get the kernel thread id of my thread, it turns out that occlum trap this syscall and return self alloc tid, however this is not I wanted.
I wonder how to match my user thread with kernel thread(especially in driver), I would appreciate it if you could help me do so.

[2021-10-20 02:25] lz18064638846 commented on #695
I want to do some profile work under occlum, like swapping times for each thread, I can print thread id in driver, but I can't find a way to match it with my user thread, thus I can't know which thread is the bottleneck of my benchmark.

[2021-10-20 02:57] lz18064638846 commented on #695
@guzongmin I have to use occlum because I am running some Java benchmarks

[2021-10-20 06:54] qzheng527 opened #698 "[BUG] Assert panic is not expected in mmap test"
# Describe the bug
When running the Linux LTP demo on syscalls cases mmap06/mmap07, there are unexpected assert panic like below.

[code]

# To reproduce
Steps to reproduce the behavior:
1.  Go to the demos/linux-ltp, following the README to prepare the LTP occlum instance.
2.  Modify the file in ltp_instance/image/opt/ltp/runtest/syscalls, uncomment the `mmap06` and `mmap07`.
3.  Rebuild the inst

[2021-10-20 07:40] liqinggd commented on #679
Hi @guolanting , we have committed a fix of FS to close some unused file handles.  Please  see https://github.com/occlum/occlum/pull/697 for commit, you can try this issue with a newer Occlum

[2021-10-20 07:44] qzheng527 opened #699 "[BUG] LTP rename06 test hang"
# Describe the bug
When doning Linux LTP test in Occlum, the syscalls `rename06` test hangs forever.
[code]

# To reproduce
Steps to reproduce the behavior:
1. Go to the demos/linux-ltp, following the README to prepare the LTP occlum instance.
2. Modify the file in `ltp_instance/image/opt/ltp/runtest/syscalls`, uncomment the rename06.
3. Rebuild the instance by `occlum build -f`.
4. Run the demo b

[2021-10-20 09:32] qzheng527 opened #700 "[BUG] LTP test case dup201/dup3_02 memory allocation failed"
# Describe the bug
When doing LTP tese dup201/dup3_02, eventually memory allocation fail.

# To reproduce
Steps to reproduce the behavior:
1. Go to the demos/linux-ltp, following the README to prepare the LTP occlum instance.
2. Modify the file in ltp_instance/image/opt/ltp/runtest/syscalls, uncomment the dup201and dup3_02.
3. Rebuild the instance by `occlum build -f`.
4. Run the demo by `occlum r

[2021-10-21 02:56] qzheng527 commented on #699
@liqinggd Yes, you are right about the EINVAL return value.
This case `rename06` also expect this EINVAL return value as test pass.
But anyway, this operation shouldn't make the Occlum hang forever.

[2021-10-21 06:26] qzheng527 commented on #700
#703

[2021-10-21 06:39] lead4good commented on #690
@guzongmin thanks for your detailed answer. Do you mind keeping this issue open to keep track of reproducible builds for occlum?

[2021-10-22 10:01] #699 closed, assigned to liqinggd, guzongmin

[2021-10-27 09:25] qq296776435 opened #708 "How can a Java application seal data as sgx_seal_data() do?"
I ran the following Java program with ```occlum run /usr/lib/jvm/java-11-alibaba-dragonwell/jre/bin/java -Xmx512m -XX:-UseCompressedOops -XX:MaxMetaspaceSize=64m -Dos.name=Linux Main```.
[code]
But I can't find file anywhere even though the "finish." string printed.
Is there a demo for sealing data and saving it in FS?

[2021-10-29 07:14] james-ray opened #709 "How to let the application find config file?"
# Describe the bug
A clear and concise description of what the bug is.
root@ff481b2709ef:~/tss/keygen_center/occlum_instance# occlum run /bin/keygen_center
panic: open ./config.yaml: no such file or directory

goroutine 1 [running]:
main.main()

the code in our application:
[code]

# To reproduce
Steps to reproduce the behavior:
1.  keygen_center.yaml:
includes:
  - base.yaml
targets:
  - target:

[2021-11-01 10:02] qq296776435 commented on #378
Could u plz show the corresponding position of the code?

[2021-11-01 13:45] james-ray commented on #709
I use abosulte path "/bin/config.yaml", then the application finds the file. Thanks.

[2021-11-01 13:45] #709 closed

[2021-11-02 04:46] qzheng527 opened #713 "[BUG] LTP syscall testcases with Segment fault"
# Describe the bug
Some Linux LTP syscall testcases cause Segment fault when running in Occlum.
Here we maintain a list of the SegFault testcases for further investigation and fix.

- chdir04
- clock_gettime02
- epoll_wait03
- mq_open01
- open08
- read02
- rt_sigaction02
- rt_sigprocmask02
- sched_getaffinity01
- sched_setattr01
- sched_getattr02
- semget02
- sendfile04
- sendfile04_64
- setresuid

[2021-11-02 05:59] SHiftLin opened #714 "How to ensure that occlum code is trusted?"
Hi, I read occlum's paper and tried occlum, but I have a question about it.
Suppose a user wants to run a trusted program to process his private data on a cloud machine. But the program does not use SGX and he does not trust the cloud machine and the OS. Thus, he uses occlum to run the program. But how could he ensure that the occlum installed on the cloud machine is correctly implemented ?

I thi

[2021-11-02 06:00] qzheng527 opened #715 "[BUG] LTP syscall testcases with hang/panic issue"
# Describe the bug
Some Linux LTP syscall testcases cause hang or panic when running in Occlum.
Here we maintain a list of these testcases for further investigation and fix.

## Hang

- epoll_ctl04
- ftruncate03
- ftruncate03_64
- gettimeofday02
- signal06
- writev02
- writev05
- futex_wait03
- futex_wait_bitset01

## Panic

- getresgid02
- getresgid02_16
- getresgid03
- getresgid03_16
- getresuid

[2021-11-03 03:05] jessehui opened #716 "[BUG] Running an application with a large number of arguments will fail"
# Describe the bug
When running an application with a large number of arguments in Occlum, the process creation will fail. However, after changing the process' default stack size to a very big value (128MB), there is no difference at all and it still fails.

# To reproduce
The command below is to run a gvisor test in Occlum ignoring all the known failure cases to just run passed cases:

`
occlum r

[2021-11-04 13:50] dzobbe opened #720 "[BUG] Impossibility in getting external server authenticity"
# Describe the bug
I don't know if it is a bug or a misuse I am doing of the Occlum runtime. I have an extended Hashicorp Vault application that makes a REST call to an external server (e.g., https://ftx.com/api/account). If I run the application out of Occlum, everything works fine. If instead I run the app into Occlum I get an error in authenticating the server:

{"errors":["Get \"https://ftx.co

[2021-11-05 02:15] jcsora opened #721 "[BUG]Failed to run pytorch demo"
# Describe the bug
Failed to run pytorch demo in docker ocntainer.

# To reproduce
Steps to reproduce the behavior:
1. In occlum docker container:
 `cd /root/demos/pytorch && install_python_with_conda.sh && ./run_pytorch_on_occlum.sh`
It returns:
`/opt/occlum/build/bin/occlum_build.mk:128: *** multiple target patterns.  Stop.`
After checking, I found that the occlum_build.mk file contained the ":"

[2021-11-05 06:27] qzheng527 commented on #721
@jcsora Please try apply the [`patch`](https://github.com/occlum/occlum/commit/28baa5b080adefcfcccec2cd82fff4918bd4a4c3).

[2021-11-05 06:54] guzongmin commented on #720
@dzobbe Can you please help me to reproduce the issue step by step? It is better, if you could give me a bash script to reproduce the issue.

[2021-11-05 08:09] jcsora commented on #721
I guess this will have the same effect as if I manually copied files from `/root/demos/pytorch/python-occlum/lib/pkgconfig:` to `/root/demos/pytorch/python-occlum/lib/pkgconfig` and deleted pkgconfig: directory. After using your patch, occlum build is successfully passed, but the execution will still block at step `occlum run /bin/python3 demo.py`.

[2021-11-05 08:19] lz18064638846 opened #722 "How to invoke ioctl to /dev/isgx directly"
I notice that under occlum, application cannot open /dev/isgx directly as in native enclave environment, so I wonder how to invoke ioctl? I find some usage in /dev/sgx, but in seems that it does not go to the driver of sgx1.

[2021-11-05 09:48] qzheng527 commented on #721
There is no such block in my local test nor the github action CI test.
Would you wait for longer time? This demo may take almost 1 min in my NUC (Atom J5005).
And if still block, please run the demo with OCCLUM_LOG_LEVEL=debug.

[2021-11-05 11:32] dzobbe commented on #720
I found the solution. It is not a bug as I already thought. Basically, I had to configure the yaml file for the proper copy_bom execution.
[https://github.com/occlum/occlum/tree/54bc08d09432380132fed643f9009dc17771c63d/tools/copy_bom]

This is the config I used. It can be useful for someone else:
`includes:
  - base.yaml
targets:
  - target: /bin
    copy:
      - files:
        - ../source_code/b

[2021-11-08 01:45] jcsora commented on #721
I've tried:
[code]

unfortunately it will block at step `occlum run /bin/python3 demo.py` for more than two days and no log is printed.

[2021-11-08 01:59] jcsora commented on #721
I tried adding a print.py to `/root/demos/pytorch/occlum_instance/image`, and
[code]
the same as before as if python did not call print.py.

[2021-11-08 02:02] qzheng527 commented on #721
Please put OCCLUM_LOG_LEVEL=<trace or debug> in the same line with `occlum run`.
For example,  `OCCLUM_LOG_LEVEL=debug occlum run /bin/python3 print.py 2>&1 | tee debug_log`

[2021-11-08 02:15] jcsora commented on #721
It still doesn't work, and no logs are written to the `debug_log`

[2021-11-08 03:30] #716 closed

[2021-11-08 03:37] qzheng527 commented on #721
@jcsora Can run successfully run other demos? Such as demos/python.

[2021-11-08 05:51] jcsora commented on #721
Yes, run ~/demos/python/python_glibc successfully. When I change directory to `~/demos/pytorch/occlum_instance`, there was no result after using `occlum run /bin/python3 -V`.

[2021-11-08 06:05] qzheng527 commented on #721
@jcsora There is some mismatch between your setup and mine. I could never reproduce the issue you met.
One suggest, in the running occlum/occlum:0.24.2-ubuntu18.04, do a fresh build/install.
Hope this could make us align in the same page.

1. Get the latest Occlum source
[code]

2. Build and install
[code]
# cd demos/pytorch
# ./install_python_with_conda.sh
# OCCLUM_LOG_LEVEL=debug ./run_pytorch_o

[2021-11-09 02:12] jcsora commented on #721
Problem remains the same after reinstalling using latest source code in docker container. But after I built with `occlum build --sgx-mode SIM`, it ran successfully.

[2021-11-09 07:02] jcsora commented on #721
[code]

[2021-11-09 07:56] qzheng527 commented on #721
@jcsora Is the above log from the blocking case?

[2021-11-09 09:02] jcsora commented on #721
Problem has been solved. Pytorch demo need 6000MB to run but my BIOS PRM setting was 2GB. Thank you for your help.

[2021-11-09 09:04] #721 closed

[2021-11-09 12:24] weitianyuan opened #727 "question aboout occlum install"
Add Git hooks that check Rust code format issues before commits and pushes
git submodule init
git submodule update  --progress
cd deps/serde-json-sgx && git apply ../serde-json-sgx.patch >/dev/null 2>&1 || git apply ../serde-json-sgx.patch -R --check
cd deps/ringbuf && git apply ../ringbuf.patch >/dev/null 2>&1 || git apply ../ringbuf.patch -R --check
cd deps/resolv-conf && git apply ../resolv-con

[2021-11-09 13:38] guzongmin commented on #727
Please build Occlum with Occlum docker image:
docker pull occlum/occlum:latest-ubuntu18.04

If you want to know the detail, please reference https://github.com/occlum/occlum/blob/master/tools/docker/Dockerfile.ubuntu18.04

[2021-11-10 08:35] #727 closed

[2021-11-12 03:42] guzongmin commented on #722
Occlum is using SGX. You should not use the host /dev/isgx node.

[2021-11-12 08:12] lz18064638846 commented on #722
What does this mean? Could you pelease explain it in details? I wonder if I could modify the linux-driver to implement some additional functions, I really need to get contact with driver while I am running inside Occlum.

[2021-11-12 15:14] weitianyuan opened #728 "cannot find some .so"
/opt/occlum/toolchains/gcc/bin/../lib/gcc/x86_64-linux-musl/8.3.0/../../../../x86_64-linux-musl/bin/ld: cannot find /lib/x86_64-linux-gnu/libpthread.so.0 inside /opt/occlum/toolchains/gcc/bin/../x86_64-linux-musl
/opt/occlum/toolchains/gcc/bin/../lib/gcc/x86_64-linux-musl/8.3.0/../../../../x86_64-linux-musl/bin/ld: cannot find /usr/lib/x86_64-linux-gnu/libpthread_nonshared.a inside /opt/occlum/too

[2021-11-12 17:25] weitianyuan opened #729 "[BUG]"
# Describe the bug
when I run want compile some code there a some errors：
**undefined reference to `pthread_atfork'**

**-Lpthread is used by the old version of gcc compiler. In the new version, - ptthread should be used instead of - lpthread**

Not obligatory, but suggest a fix/reason for the bug.

[2021-11-15 11:03] weitianyuan opened #731 "[RFC]question and __register_atfork"
In docker 18.04 env;
I have a problem when I occlum run /bin/ server.
The Server is my application
Error relocating server: __register_atfork: symbol not found
Error relocating server: __res_init: symbol not found
how to fix it

[2021-11-18 02:20] wangzheyuan opened #733 "[question]Dose Occlum support AlmaLinux or Rocky Linux?"
CentOS 8 will reach End Of Life on December 31st, 2021. Will Occlum support AlmaLinux or Rocky Linux?

[2021-11-18 08:14] weitianyuan opened #734 "make submodule failed"
I want build with source  when I  run make submodule some error happend：

**Add Git hooks that check Rust code format issues before commits and pushes
git submodule init
git submodule update  --progress
cd deps/serde-json-sgx && git apply ../serde-json-sgx.patch >/dev/null 2>&1 || git apply ../serde-json-sgx.patch -R --check
error: Cargo.toml: No such file or directory
Makefile:33: recipe for targ

[2021-11-18 09:12] guzongmin commented on #734
@weitianyuan You could do it in occlum docker container:
[code]
You may miss some dependencies.

[2021-11-26 09:49] jessehui opened #740 "[RFC] Support both internal trusted and cross-world untrusted Unix domain socket"
- Feature Name: cross_world_uds
- Start Date: 11.25

# Summary
Support Unix domain sockets in mainly two types:
1. Internal both-end trusted unix domain socket communication
2. Cross-world untrusted (one end in the enclave, the other is outside of the enclave) unix domain socket communication

# Motivation
An application running inside the enclave sometimes needs to communicate with outside of the

[2021-11-26 10:51] tychobrailleur opened #741 "[BUG] Error compiling the RA demo with Cargo from toolchain"
# Describe the bug

When trying to compile the RA demo on the Occlum Docker container, the following error arises:

[code]

# To reproduce
Steps to reproduce the behavior:
1. Start Occlum docker container (`occlum/occlum:0.25.0-ubuntu18.04`)
2. Go into the RA demo folder: `cd /root/demos/remote_attestation/dcap/dcap_lib`
3. Try building lib: `/opt/occlum/toolchains/rust/bin/occlum-cargo build --re

[2021-11-29 08:42] qzheng527 commented on #741
@tychobrailleur The demo provided was only verified by glibc, not musl-libc。If you need musl-libc (I saw you run with occlum-cargo build), some code changes have to be done to respect musl-libc ioctl (i32 not u64).
A quick fix (in file dcap_quote.rs) as below:
[code]

More elegant formal solution to support musl-libc will be provided in future release.

[2021-11-29 09:51] tychobrailleur commented on #741
Yes, the issue is specifically when building the Rust library with occlum-cargo (which I would have thought would be preferable?).  With “vanilla” cargo everything compiles fine.

Thanks, I'll give that a try,

[2021-12-02 11:19] duowen1 opened #747 "[RFC]Some Questions about how does the Occlum use Intel MPX"
- Feature Name: Intel MPX in Occlum
- Start Date: 2021.12.02

# Summary
[summary]: #summary

I was reading your paper published on ASPLOS'20. And I have some questions, I don't really how to confine control flow using Intel MPX. So I read the source code of Occlum. All I found is a function called "mpx_bndmk" if mpx_util.rs, but I cann't find any functions which call it. I want to know when the Oc

[2021-12-07 09:04] StanPlatinum commented on #747
FYI. Intel has no longer support for  MPX.

[2021-12-09 07:27] james-ray opened #751 "[BUG] Cannot find created file"
# Describe the bug
A clear and concise description of what the bug is.

# To reproduce
Steps to reproduce the behavior:
1. I need to store some file

# Expected behavior
A clear and concise description of what you expected to happen.

# Logs
If applicable, add logs to help explain your problem.

# Environment

- HW: [e.g. SGX1, SGX2]
- OS: [e.g. Ubuntu18.04, CentOS8.2]
- Occlum version: [e.g. 0.17

[2021-12-09 07:42] daan3601 opened #752 "[BUG]"
# Describe the bug
A clear and concise description of what the bug is.
Use "make" in the occlum/test/ directory to compile and then use "occlum exec" to run bin/pipe in the /occlum/build/test/ directory, there will be "Unable to allocate memory"
# To reproduce
Steps to reproduce the behavior:
1. Download the occlum version and docker image with version 0.26.1
2. Go to the /occlum/build/test/ and S

[2021-12-09 08:34] daan3601 opened #753 "[BUG]"
# Describe the bug
A clear and concise description of what the bug is.
Insufficient memory when running "ioctl" 100 times with "occlum exec"
# To reproduce
Steps to reproduce the behavior:
1. Download the occlum image and occlum version 0.26.1
2. Jump to the occlum/test/ioctl directory and open main.c
3. Comment out the following
4.    //TEST_CASE(test_sgx_ioctl_SGXIOC_IS_EDMM_SUPPORTED),
      //

[2021-12-09 08:44] jessehui commented on #753
@daan3601 got this result on NUC. I am unable to reproduce this error on ICX SGX2 machine even after running 1000 times. More investigation is needed.

[2021-12-09 10:20] me020523 opened #754 "make submodule failed"
Add Git hooks that check Rust code format issues before commits and pushes
git submodule init
git submodule update  --progress
cd deps/serde-json-sgx && git apply ../serde-json-sgx.patch >/dev/null 2>&1 || git apply ../serde-json-sgx.patch -R --check
cd deps/ringbuf && git apply ../ringbuf.patch >/dev/null 2>&1 || git apply ../ringbuf.patch -R --check
cd deps/resolv-conf && git apply ../resolv-con

[2021-12-09 10:23] #754 closed

[2021-12-13 06:16] guzongmin commented on #751
The file is saved in protected file system, you are not able to read it with VIM.

[2021-12-14 08:09] james-ray opened #756 "[BUG]about sqlite golang demo"
# Describe the bug
A clear and concise description of what the bug is.

# To reproduce
Steps to reproduce the behavior:
1.  I made some modification to go_sqlite/simple_demo.go
[code]
I modify two parts, first, I comment os.Remove(dbSourceName)
second, I wrap the create table and insert part into the "if len(os.Args)==2" branch, so that if no args provided, the program runs directly to the read pa

[2021-12-15 08:38] haosanzi opened #758 "typo in pal_log.h"
In https://github.com/occlum/occlum/blob/master/src/pal/src/pal_log.h#L11,

[code]

I think it should be `WARN` rather than `WARM`.

[2021-12-15 08:56] guzongmin commented on #758
Thanks for your report

[2021-12-17 12:17] lambotte-lan opened #762 "[BUG]Go-lang call “exec.Command” then report bad address error"
# Describe the bug
In occlum  Running a go-lang example to call “exec.Command("/root/hellotest", "xx")” , then it report bad address error:
The “/root/hellotest”  is put in folder occlum_instance/image/root/ and  compiled by "occlum-go build" or "go build"
BTW running the example not in occlum image can work well.

# To reproduce
Steps to reproduce the behavior:
1. Deploy a sample go-lang app name

[2021-12-17 12:21] #758 closed

[2021-12-17 12:29] guzongmin commented on #762
@lambotte-lan Thanks for your bug report with trace information. Golang is using system call in its own way, so if we want the exec command working in Golang, we should change the Clone to vfork+execve or posix_spawn.

We would fix this issue. Thanks for your report, good catch.

[2021-12-20 11:57] amazingAmy opened #764 "[BUG] failed to boot up LibOS: ENOENT (#2, No such file or directory): cannot load ld.so [line = 192, file = src/process/do_spawn/mod.rs]"
# Describe the bug
A clear and concise description of what the bug is.

$ occlum run /bin/hello_world
failed to boot up LibOS: ENOENT (#2, No such file or directory): cannot load ld.so [line = 192, file = src/process/do_spawn/mod.rs]
    Caused by ENOENT (#2, No such file or directory): cannot find the file [line = 81, file = src/process/do_spawn/exec_loader.rs]
[ERROR] occlum-pal: occlum_ecall_ne

[2021-12-20 15:11] amazingAmy commented on #764
I found that it is because that I changed the INIT program. NOW, I fix it.

[2021-12-20 15:11] #764 closed

[2021-12-21 11:31] SoulKa opened #765 "[BUG] Error running bash script in HW mode"
# Describe the bug
Running a simple bash script in HW mode fails. The error is shown below

# To reproduce
Steps to reproduce the behavior:
1. Create a new occlum instance
2. Create a bash script in file `image/bin/test` with the content `#!/bin/bash` and `echo "Hello world!"` and make it executable
3. Execute `./image/bin/test` with success
4. Execute `occlum build` with success
5. Executing `occ

[2021-12-21 11:53] jessehui commented on #765
I think you hit a bug here. An easy workaround is to run this command:
`occlum run /bin/bash /bin/test`

We will fix this soon.

[2021-12-24 04:07] jessehui opened #768 "[BUG] Bash demo segment fault in simulation mode"
# Describe the bug
When running bash demo built with musl in SGX simulation mode, it throws segment fault sometimes.

# To reproduce
Steps to reproduce the behavior:
1. run `SGX_MODE=SIM ./run_bash_demo.sh musl` several times and it will happen.

# Expected behavior
This demo will run successfully.

# Logs
It happened once in CI: https://github.com/occlum/occlum/runs/4594532351?check_suite_focus=t

[2021-12-24 05:45] #765 closed

[2021-12-29 02:39] guzongmin commented on #756
@james-ray Is the code works out of Occlum enviroment?

[2022-01-05 06:18] guolanting commented on #413
@jessehui "The thing is to run multiprocess with Python, fork will be called and we don't have plans to support that." fork is used by many libraries. why occlum do not support fork?  Why don't support fork and spawn at the same time?

[2022-01-05 06:33] guzongmin commented on #413
fork requires the OS to manager the memory mapping, SGX is not able to support it.

[2022-01-11 03:13] jianlinjiang opened #775 "[RFC] Remove timestamp in SEFS::create"
- Feature Name: Remove timestamp in SEFS::create
- Start Date: 2022-01-11

# Summary
[summary]: #summary
Remove timestamp when creating SEFS. Challengers in remote attestation can rebuild the occlum instance to get the same `mrenclave` as the developers released.

`deps/sefs/sefs-cli/app/src/main.rs` :
[code]

# Motivation
[motivation]: #motivation
`occlum build` creates SEFS which contains a time

[2022-01-11 03:25] liqinggd commented on #775
@jianlinjiang
We have already made the timestamp always be zero when zipping the integrity-protected SEFS image, please see https://github.com/occlum/sefs/blob/unionfs/rcore-fs-sefs/src/lib.rs#L1080

[2022-01-11 17:09] SoulKa opened #777 "[BUG] Valid config results in fatal runtime error"
# Describe the bug

I'm receiving a fatal runtime error since I'm providing my own Occlum.json config file. It's actually quite similar to the default config, but I left then env object empty.

# To reproduce
Steps to reproduce the behavior:
1. Create a new occlum instance
2. Create the Occlum.json as shown below (leave env empty)
3. Occlum build with success (config seems fine)
4. Occlum run fail

[2022-01-12 09:59] guzongmin commented on #777
@SoulKa Thank you very much to report issues to us. JSON is not very friendly for dynamic fields, so even if you do not want to fill env, you still need to left them there.
[code]
  We plan to use YAML as the config language, in hopes that we could solve this issue at that time.

[2022-01-12 10:08] SoulKa commented on #777
Thank you for your answer! I also figured out that I need to put these fields back in, I was just confused that the runtime crashes. I'll then close this issue as the matter is resolved for me.

[2022-01-12 10:08] #777 closed

[2022-01-12 12:17] zzylydx commented on #642
Please solve the problem first, ok?

[2022-01-12 12:41] guzongmin commented on #642
@zzylydx It is not a bug. You need to build the SGX SDK for Occlum or use the Occlum docker image. This is the Occlum docker file:https://github.com/occlum/occlum/blob/master/tools/docker/Dockerfile.ubuntu18.04

[2022-01-12 12:49] zzylydx commented on #642
Thank you for your reply! You mean that we must make a suitable SGX SDK environment for Occlum? If that is caused by this reason, please make some notes for this situation.

[2022-01-13 02:14] guzongmin commented on #389
Can not reproduce this issue anymore.

[2022-01-13 02:16] guzongmin commented on #695
Close this issue. Occlum is not able to support this requirement as a general feature.

[2022-01-13 02:16] #695 closed

[2022-01-13 02:18] guzongmin commented on #708
@qq296776435 When you save a file on file system, Occlum would seal the data automatically and then save it. So you do not need to do it by yourself.

[2022-01-13 02:21] guzongmin commented on #714
@SHiftLin When you are using Occlum on Could, you should provide the signed application + Occlum image. Which means you should sign them by yourself.

[2022-01-13 02:23] guzongmin commented on #722
@lz18064638846 The short answer is you are not able to use /dev/isgx; you should not use it if you are using Occlum.

[2022-01-13 02:33] guzongmin commented on #733
Occlum may support anolisos (https://openanolis.cn/anolisos) to replace CentOS.

[2022-01-13 02:35] guzongmin commented on #731
@weitianyuan Can you please give us a clear reproduce steps?

[2022-01-13 03:01] #624 closed

[2022-01-13 04:19] SHiftLin commented on #714
Yes, but my application is running inside Occlum. Although I can trust my application and image, but how can I trust Occlum? How can I trust that Occlum actually run my application in an enclave or the Occlum itself is correctly implement?

[2022-01-13 05:36] guzongmin commented on #714
@SHiftLin When you are signing the application with Occlum, the application hash becomes the part of Occlum MREnclave. You are able to check the MREnclave to confirm that.

[2022-01-13 06:45] ykPrograWorld opened #778 "docker run error"
when run :
docker run -it --privileged -v /dev/sgx_enclave:/dev/sgx/enclave -v /dev/sgx_provision:/dev/sgx/provision occlum/occlum:latest-ubuntu18.04

show this:

esm_service[14]: [get_driver_type edmm_utility.cpp:111] Failed to open Intel SGX device.

aesm_service[14]: [get_driver_type edmm_utility.cpp:111] Failed to open Intel SGX device.

aesm_service[14]: [load_qe ../qe_logic.cpp:642] Error, c

[2022-01-13 09:48] guzongmin commented on #778
@ykPrograWorld
This is the command I used on Ubuntu 18.04 with Intel ICX hardware.
[code]
Please check your hardware to confirm it is SGX2 machine.

[2022-01-13 16:32] guzongmin commented on #608
@99Kies Since SGX is X86 CPU feature, we do not test the build steps on ARM. And I think ARM is not a good build machine for Occlum.

[2022-01-13 16:33] guzongmin commented on #593
fixed

[2022-01-13 16:33] #593 closed

[2022-01-14 02:29] ykPrograWorld commented on #778
Currently docker started successfully, but when building oclum on linux (not in the docker container), when the execution of make submodule error, I would like to ask in the production environment can only be deployed with docker, can not be built on linux local machine it, thank you for your answer

[2022-01-14 02:55] bronzeMe opened #780 "Does occlum support cgo-style application? when building goroskdb application it involved errors"
Hi, I try use occlum to run a go applicaiton that creates a simple database via the gorocksdb, [gorocksdb](https://github.com/tecbot/gorocksdb), a Go wrapper for RocksDB.
So gorocksdb is a cgo-style library, it depends on some C-style shared libraries and the librocksdb.a.
**gorocksdb is installed by the following command**:
`CGO_CFLAGS="-I/rocksdb/include" CGO_LDFLAGS="-L/rocksdb -lrocksdb -L/usr

[2022-01-14 02:55] ykPrograWorld commented on #778
One more question, we want to put the fabric (blockchain) in oclum, is this feasible?

[2022-01-14 10:04] ykPrograWorld commented on #708
We also tried to create files that can not be found anywhere, what is going on?

[2022-01-15 20:36] SHiftLin commented on #714
I see. Assuming a user trust SGX and Occlum, he generates the occlum instance at local, and runs the instance on the cloud.  So he can compare the mrenclave of enclave running on the cloud with one he generates at local.

[2022-01-17 07:09] guzongmin commented on #780
@bronzeMe I try to reproduce the issue. I got another issue:
/opt/occlum/toolchains/gcc/bin/../lib/gcc/x86_64-linux-musl/8.3.0/../../../../x86_64-linux-musl/bin/ld: cannot find -lrocksdb

It means I need to install musl version rocksdb.

Do you have an easy way to help me out?

[2022-01-17 07:10] guzongmin commented on #778
@ykPrograWorld All the things you should do are documented in the https://github.com/occlum/occlum/blob/master/tools/docker/Dockerfile.ubuntu18.04

[2022-01-17 07:11] guzongmin commented on #778
Of course, it is a good usage.

[2022-01-18 02:40] ykPrograWorld commented on #778
Thank you for your answer, it was very helpful to me

[2022-01-18 02:47] ykPrograWorld commented on #778
Is there a step-by-step procedure or information you can refer to, thank you for your answer

[2022-01-18 03:00] guzongmin commented on #778
I have not tried it. You may need to port it by reference to the existing demos.

[2022-01-18 03:40] ykPrograWorld commented on #778
OK, thanks for your answer

[2022-01-18 06:21] ykPrograWorld commented on #778
Does Occlum not support centos7.6 now?

[2022-01-18 06:22] ykPrograWorld commented on #778
Does Occlum not support centos7.6 now?

[2022-01-18 06:25] guzongmin commented on #778
We stop testing Occlum on centos7.6, because it is not officially supported by SGX SDK now.

[2022-01-19 01:55] ykPrograWorld commented on #778
Thank you very much

[2022-01-19 16:13] chigarovae opened #788 "Python compiling with occlum-gcc fails"
Hi! Trying to compile Python with occlum-gcc to use it in an enclave for some testing, bit compilation fails on posixmodule:

`
/Include/internal  -I. -I./Include    -DPy_BUILD_CORE_BUILTIN  -DPy_BUILD_CORE_BUILTIN -I./Include/internal -c ./Modules/posixmodule.c -o Modules/posixmodule.o
./Modules/posixmodule.c: In function 'os_preadv_impl':
./Modules/posixmodule.c:9704:13: error: implicit declarat

[2022-01-20 05:50] #778 closed

[2022-01-20 06:12] guzongmin commented on #788
@chigarovae the occlum-gcc is only a script to help user link musl as libc. If you are able to use normal gcc, you can just use it.

[2022-01-20 06:36] guzongmin commented on #780
@bronzeMe What is your issue? I tried it, and only get some warnings.

[2022-01-21 13:44] agowdamsft opened #796 "Go Web Server demo failing during gopack download"
# Describe the bug
When deployed as a docker containers the Go Web Server demo fails to run. Ref to the attached errors

# To reproduce
Steps to reproduce the behavior:
1. Deploy the go web server demo on an AKS cluster

# Expected behavior
Go web server in an enclave was suppose to run as documented here https://github.com/occlum/occlum/tree/master/demos/golang/web_server

# Logs
If applicable, a

[2022-01-21 14:02] agowdamsft commented on #714
@SHiftLin to break it down. Trusted Code/Enclave App/Container for SGX = Your business logic application code + SGX Code Wrapper i.e Occlum. Occlum is fully Open sourced you have the ability to verify the code before trusting it as part of your software supply chain. Its similar to you trusting a NuGet package/PyPy packages as part of business logic code. Like @guzongmin mentioned, you have the ab

[2022-01-21 14:13] agowdamsft opened #797 "[RFC] Please add an example how to use Microsoft Azure Attestation(MAA) for a remote attestation flow"
- Feature Name: Please add a demo/sample that shows how to do remote attestation using MAA
- Start Date: 01/21/2022

# Summary
[summary]: Remote attestation is extremely important for establishing trust with the apps. MAA is a popular choice for customers deploying on Azure.

Request is to extend the current remote attestation sample and add how a 3rd party/client was able to request the SGX quote

[2022-01-24 08:47] bronzeMe commented on #780
@guzongmin , when I run a [gorocksdb ](https://github.com/bronzeMe/occlum/tree/master/demos/golang/go_rocksdb) example, the errors are as below:
To reproduce this issue, you can still use the [docker image](https://github.com/occlum/occlum/issues/780#issuecomment-1014291073), and pull the example code  [gorocksdb ](https://github.com/bronzeMe/occlum/tree/master/demos/golang/go_rocksdb) , then run

[2022-02-07 02:46] qzheng527 commented on #797
@agowdamsft Sorry for the late reply cause of the Chinese New Year holiday.
We are happy to extend Occlum usage into Azure.
I just checked the MAA overview, looks that the core part to add Occlum based MAA demo is to provide similar `genquote_host` and `genquote_enclave` implementation. I am going to follow up on this part.
One question for you, in the end how can we contribute this demo to Azure?

[2022-02-07 08:57] agowdamsft commented on #797
@qzheng527 once the sample is ready here I am happy to work with you for azure samples using a real customer scenario here https://github.com/Azure-Samples/confidential-container-samples

[2022-02-07 09:45] qzheng527 commented on #797
@agowdamsft Great, Occlum is happy to be part of the Aruze confidential computing.
One more question about the MAA json format.
Evert part is clear from the [`source`](https://github.com/Azure-Samples/microsoft-azure-attestation/blob/master/intel.sdk.attest.sample/genquotes/host/host.cpp#L162) except the `EnclaveHeldDataHex`.
Is it compulsory that the `sgx_report_data` needs put the raw data after

[2022-02-07 11:03] qzheng527 commented on #796
@agowdamsft Go web server demo is in our github [`Action CI`](https://github.com/occlum/occlum/blob/master/.github/workflows/demo_test.yml#L58), it is working well for a long time.
From your log, it looks like the server certificate verification failure issue.
Perhaps you can double check your env CA settings or try `export GIT_SSL_NO_VERIFY=1` for a test.

[2022-02-08 20:49] olkroshk commented on #797
Hi, @qzheng527, `QuoteHex` and `EnclaveHeldDataHex` are the minimal required parameters of the JSON file that should be sent to MAA as a part of the attest calls. I.e. JSON at the very minimum should contain the SHA256 hash and the actual content (https://github.com/Azure-Samples/microsoft-azure-attestation/blob/master/intel.sdk.attest.sample/genquotes/host/host.cpp#L167-L168).

The rest of the pa

[2022-02-09 08:43] #589 closed

[2022-02-09 09:59] qzheng527 commented on #797
@agowdamsft @olkroshk I submitted a new PR for the MAA demo.
https://github.com/occlum/occlum/pull/807

The full Microsoft Azure Attestation flow includes generating a quote in an SGX enclave and then get it validated by the Microsoft Azure Attestation (MAA) service.

1. Build an SGX enclave
2. Launch an SGX enclave and get SGX quote
3. Persist SGX quote and Enclave Held Data (EHD) to JSON file
4.

[2022-02-17 09:02] superajun-wsj commented on #762
@guzongmin the root cause is occlum-go didn't hook function `forkAndExecInChild1`  defined in runtime, and it will invoke syscall instrument directly by `rawVforkSyscall` or `RawSyscall6`.

[2022-02-17 10:48] #788 closed

[2022-02-21 05:46] qzheng527 commented on #797
@agowdamsft @kroshkina-msft Any feedback about the Occlum MAA demo?

[2022-02-23 00:23] kroshkina-msft commented on #797
@qzheng527, we are looking at the demo. I will run a test and get back to you.

`+` @gkostal

[2022-02-25 13:41] dzobbe opened #824 "Error in Launching Occlum-Vault with different Storage Configuration"
Hello folks,

I am trying to deploy a Vault solution secured with Occlum using an integrated storage instead of the file storage. I changed the configuration of vault as follows:

[code]

And also added the path in the compose file:

[code]

However, when running I am getting this error:

`2022/02/25 10:33:15 bolt.Close(): funlock error: function not implemented
Error initializing storage of type

[2022-02-28 03:41] guzongmin commented on #824
@dzobbe Thanks for you to report this issue. Can you please open Occlum trace and share the trace out?
[https://github.com/occlum/occlum#how-to-debug](https://github.com/occlum/occlum#how-to-debug)

[2022-02-28 13:53] dzobbe commented on #824
Of course. Here it is attached.

[trace.log](https://github.com/occlum/occlum/files/8153794/trace.log)

[2022-03-01 05:55] guzongmin commented on #824
@dzobbe Thank you very much. I read the trace and find that your application depends on flock syscall. We will add it soon.

[2022-03-01 08:59] dzobbe commented on #824
Ah great. Thanks for this info. Do you already have an ETA on this extension?

[2022-03-08 10:35] james-ray commented on #756
No, it is inside Occlum enviroment,
[code]
It is modified demo code.

[2022-03-08 11:12] james-ray commented on #756
[code]

[2022-03-08 11:25] guzongmin commented on #756
When I tried it outside Occlum, the behavior is same as which is inside Occlum. Can you please confirm it works outside of Occlum?

[2022-03-08 11:40] james-ray commented on #756
The reason is the code deleltes the db.
 _, err = db.Exec("delete from SqlDrivers")

os.Remove(dbSourceName)

after I comment these two lines, the program reruns well.

By the way, how can we backup db files in this way, because we cannot find the db file.

[2022-03-09 01:53] guzongmin commented on #780
Do you add those missed so files into the Occlum SEFS image (Add the files into image folder before "occlum build")?

[2022-03-09 06:16] bronzeMe commented on #780
@guzongmin By using commands like 'copy_bom -f ../ping.yaml --root image --include-dir /opt/occlum/etc/template ', right? is there any docs  about this? thanks.

[2022-03-09 08:00] #824 closed

[2022-03-09 10:59] guzongmin commented on #780
@bronzeMe https://github.com/occlum/occlum/tree/master/tools/copy_bom introduced the tool. General speaking, you should put the content in the yaml file, then the tool is able to copy them with dependencies into the Occlum image.

[2022-03-21 08:45] ethan75 opened #848 "不支持librt.so"
occlum安装后/occlum/toolchains/下没有librt.so库，什么时候能支持？

[2022-03-22 01:18] lwxiaowuge opened #849 "Whether a Occlum instance directory can hold two executable binarys to run?"
hello:
**1，Does a Occlum instance directory correspond to only one binary, or does a Occlum instance directory contain multiple binarys? If yes, do they all belong to the security zone?
2，If a Occlum instance directory exist two binarys,Can the host OS program call occlum_pal_exec() to execute the two binary files outside?
3，What other ways do the outer enclave programs communicate with the Occlum

[2022-03-22 02:13] guzongmin commented on #849
Add your questions and answers in the wiki
https://github.com/occlum/occlum/wiki/Q&A#q-does-an-occlum-instance-directory-correspond-to-only-one-binary-or-does-an-occlum-instance-directory-contain-multiple-binaries-if-yes-do-they-all-belong-to-the-security-zone

[2022-03-22 05:36] lwxiaowuge commented on #849
Yes，thank you for report.
But for the thired question answered,I went to know the way untrust application process in the host OS communicate with the Occlum process in a enclave.

[2022-03-22 05:48] guzongmin commented on #849
You could use socket (IP based) to communicate between trusted and untrusted applications.
In the next generation Occlum (coming soon), user is able to use UDS.

[2022-03-22 07:12] liqinggd commented on #848
`librt` is part of libc, there is only `librt.a` for musl libc, link with `-lrt`

[2022-03-22 09:33] lwxiaowuge commented on #849
If there are two occlum_instance directories, each containing one binary,such as:occlum_instance01 is contained binary A,occlum_instance02 is contained binary B.
Could the untrust application call occlum_PAL_init and OCclum_pal_exec, Occlum_pal_destroy executes both binaries respectively？
The pseudocode is as follows:
`void funcA()
{
	const char *cmd_path = "/bin/A";
	...
	   // Init Occlum PAL

[2022-03-22 09:51] guzongmin commented on #849
Technically, you can do it now.
But Occlum would stop to support such a case soon.
Can you please tell us what is the usage?

[2022-03-22 11:02] lwxiaowuge commented on #849
Yes,This is just an example of my own thinking,well,I wanted to test if it worked。

[2022-03-23 08:17] #849 closed

[2022-03-28 07:30] kroshkina-ms commented on #797
@qzheng527
The code looks good to me.
However, I tried to run the demo a few times and I get the following error:
[code]
Please let me know if this is a known issue.

[2022-03-28 07:42] qzheng527 commented on #797
@kroshkina-ms The error was due to the soname adding for the occlum dcap lib.
So the quick fix could be as below.
[code]
I will update the PR as well.

[2022-03-28 15:48] kroshkina-ms commented on #797
@qzheng527
Great, thank you!
Do you know if there is an easy way to add a symbolic link to `/opt/occlum/toolchains/dcap_lib/glibc/libocclum_dcap.so` to avoid potential issues with the versions?

Here is another error (after the fix of specifying the correct shared object is applied):
[code]

[2022-03-29 03:05] qzheng527 commented on #797
@kroshkina-ms I already fixed the link issue in the [`branch`](https://github.com/qzheng527/occlum/tree/maa) and also the [`PR`](https://github.com/occlum/occlum/pull/814). I will rebase this on the latest Occlum version (0.27.0 for now) and let you know.

For the new error, probably it was due to the PCCS_URL settings.
Did you modify the PCCS_URL in the running container (occlum/occlum:0.26.4-ubu

[2022-03-29 18:10] kroshkina-ms commented on #797
@qzheng527
Thank you so much for the quick replies!
I did update the  `/etc/sgx_default_qcnl.conf` file.

However, I don't have a way to run an SGX-enabled host with Ubuntu 20.04. Is the demo supposed to work with 18.04 host and docker image `occlum/occlum:0.27.0-ubuntu20.04`?

After trying to setup and run the demo, I would recommend updating the `README.md` with steps that a non-prepared custome

[2022-03-30 02:26] qzheng527 commented on #797
@kroshkina-ms Yes, it could work with SGX-enabled host with Ubuntu 18.04 and docker image occlum/occlum:0.27.0-ubuntu20.04.
As for the README update, sure, I will update it. Thanks for your suggest.

[2022-03-30 05:52] lwxiaowuge opened #856 "Are the threads running in Occlum actually concurrent?"
hi:
    For all I know,Occlum is multitasking inside a single enclave of intel SGX,My question is that the CPU of my computer is multi-core,So were multiple threads running on SMP truly concurrent in Occlum?

[2022-03-30 06:26] guzongmin commented on #856
@lwxiaowuge Please check the answer at https://github.com/occlum/occlum/wiki/Q&A#q-how-many-cpu-cores-can-be-used-inside-occlumenclave

[2022-03-30 09:08] lwxiaowuge commented on #856
Thank you for your answer,Our group studied occlum yesterday, and we had one more question。
The ELF loader of Occlum LibOS checks that the ELF binaries to be loaded are verified and signed by the Occlum verifier,
How it verified and signed the ELF binaries？Is there a key in enclave of ELF binaries, Sign according to this key?

[2022-03-30 09:13] guzongmin commented on #856
In the current implementation, the customer binaries only be signed with signing tool. It is not verified. So user should take the responsibly to make sure the binaries are good citizens. Occlum reuse the Intel SGX SDK signing tool to sign the enclave.   Any change of the customer binary would change the enclave MREnclave value.

[2022-03-30 18:57] kroshkina-ms commented on #797
@qzheng527

Question for you about your comment:

This demo only covers the first three steps.

Are there any specific plans about steps 4 and 5?
If not, the easiest way to complete the full attestation loop would be to use the validate quote sample from here: https://github.com/Azure-Samples/microsoft-azure-attestation/tree/master/intel.sdk.attest.sample/validatequotes.core

`+` @mssindhurid to t

[2022-03-31 02:47] qzheng527 commented on #797
@kroshkina-ms Did you successfully generate the MAA json files?
As for the steps 4 and 5, they are beyond Occlum and could run on any platform.
And you are right about the easiest validation way.

Could you follow up in your side for steps 4 and 5 since I don't have avaliable aruze account right now.

[2022-03-31 10:53] lijun0314 opened #857 "[RFC]make test panicked"
Hi, occlum team! Now I follow [README.md](https://github.com/occlum/occlum/blob/master/README.md#how-to-build) to build occlum source code, but I met one problem, here is details:
I execute this command `docker run -it --privileged -v /dev/sgx_enclave:/dev/sgx/enclave -v /dev/sgx_provision:/dev/sgx/provision occlum/occlum:0.26.1-ubuntu18.04`
Then there was an error in `make test` step, logs:
[code

[2022-04-01 01:00] guzongmin commented on #857
Seems that the SDK is mismatch with the Occlum version.
Can you please build Occlum by referencing https://github.com/occlum/occlum/blob/master/tools/docker/Dockerfile.ubuntu20.04 ?

[2022-04-01 01:06] lwxiaowuge commented on #856
Thank you for your answer.

[2022-04-01 01:06] #856 closed

[2022-04-01 02:29] qzheng527 commented on #797
@kroshkina-ms
`Error returned from the p_sgx_get_quote_config API. 0xe019` usually means the network issue.
May I see the content of the /etc/sgx_default_qcnl.conf **in your running Occlum container**?
I didn't see this file modification in your steps.
It is my setting to a locally setup PCCS service (similar to what you did just except that I set up the PCCS service in another container).
[code]

[2022-04-01 11:25] lijun0314 commented on #857
Hi, @guzongmin, thanks for your reply!
After building occlum by referencing https://github.com/occlum/occlum/blob/master/tools/docker/Dockerfile.ubuntu20.04, the panic problem was solved.
But when I execute `make test times=100`, another error happens, logs:
[code]
Is the error caused by the stress test due to a problem with my local compilation and installation of occlum, or is it for some other

[2022-04-02 01:09] guzongmin commented on #857
@lijun0314 Please confirm that the Occlum instance only used by ONE occlum process. It seems that you have another Occlum process is running and using the same instance.

[2022-04-02 03:32] lijun0314 commented on #857
I restart the container and execute `make test times=100`, and the same error is displayed.
Here is the process info in container:
[code]
Then I run `docker exec -it 429cee8a7204 /bin/bash` to open another terminal
[code]
I don't see other processes using the Occlum instance as well.

[2022-04-02 07:04] guzongmin commented on #857
For some reason, the occlum is damaged when you are running the stress test. I have ever met such issue. Do you have any idea?
BTW:Can you please try the prebuilt Occlum image?
[code]

[2022-04-02 08:33] lijun0314 commented on #857
Thanks for your reply! I will try to prebuilt Occlum image and test it.

[2022-04-02 10:25] lijun0314 commented on #857
I still follow [README.md](https://github.com/occlum/occlum/blob/master/README.md#how-to-build) to build occlum source code, the error happens again, here is details:
Run `docker run -it --privileged -v /dev/sgx_enclave:/dev/sgx/enclave -v /dev/sgx_provision:/dev/sgx/provision occlum/occlum:0.27.0-ubuntu20.04`
Error in `make test times=100` step, logs:
[code]
# Environment
- HW: [SGX1, SGX2]
- OS:

[2022-04-02 11:24] guzongmin commented on #857
It is strange. Would try to reproduce it.

[2022-04-06 01:47] lijun0314 commented on #857
Assuming Occlum is fine, what is likely to go wrong for me is the `make submodule` command, since it needs to download the file.
Because of the network problem, it caused me to download many times before the download was successful, and I also manually checked if the files in the `deps` directory were empty. Other than that, I didn't encounter any errors until `make test times=100`.
But from `make

[2022-04-06 14:40] bodzhang commented on #797
The sample definitely helps the customers to understand how to interact with MAA. It will be even better if the attestation and secret provisioning can be made "transparent" to the developer, only require the developer to configure the Attestation/KMS service to be used, for example, similar to [Mystikos' design](https://github.com/deislabs/mystikos/blob/main/doc/design/secret-provisioning.md).

[2022-04-07 02:23] qzheng527 commented on #797
@bodzhang Occlum has one suggested [`init-ra`](https://github.com/qzheng527/occlum/tree/enclave-cc/demos/remote_attestation/init_ra_flow) way to make the scecret management "transparent" to the developer based on the Occlum unique two-stages boot flow, DCAP and GRPC-RATLS.

[2022-04-07 22:08] adnanjam opened #860 "occlum_libos_core_rs::fs::stdio::StdinFile does not support status_flags"
Hi

I am trying to run nodejs inside sgx using occlum. I have built nodejs from source
https://github.com/nodejs/node (v14.0.0), using:
`CC=/opt/occlum/toolchains/gcc/bin/occlum-gcc` and `CXX=/opt/occlum/toolchains/gcc/bin/occlum-g++`.

After building I moved the nodejs binary into a new occlum instance under image/bin.

When I run the occlum instance with a basic hello_world.js I get the followin

[2022-04-08 01:53] guzongmin commented on #860
Hi @adnanjam, thanks for using Occlum. It seems that the Node.js want to use Fcntl with stdio. Can you please use OCCLUM_LOG_LEVEL=trace with "occlum run" command to help me confirm it?

If it is the case that I mentioned, most of the time we can work around it. Maybe there is a config to skip the check or we can remove the check in Node.js manually.

[2022-04-08 07:42] adnanjam commented on #860
Hi @guzongmin, you are right. It seems like Node.js is trying to use the fcntl syscall, here is the relevant trace:

[code]

Specifically, it is running the `F_GETFL` command to get the status flags of stdio file descriptors.

I am investigating if there are any configuration options in Node.js to skip this check. Another solution could be to "emulate" the behaviour of status__flags in occlum_libo

[2022-04-12 07:35] Bonjourz opened #863 "[RFC] Support System V shared memory"
- Feature Name: Support System V Shared Memory
- Start Day: 2022-3-30

# Summary

Support system V shared Memory in Occlum, related syscalls:
- `shmget()`
- `shmat()`
- `shmdt()`
- `shmctl()`

# Motivation
System V shared memory allows processes to share a region a memory. It is an useful and efficient way for inter-process communication.

# Guide-level explanation
All the processes in Occlum are

[2022-04-12 08:46] ClawSeven opened #865 "The RLIMIT_NOFILE is required for opening files"
The RLIMIT_NOFILE specifies the maximum number of file descriptor that the process can open. Attempts (open, pipe, dup, etc.) to exceed the limit yield the EMFILE error. Currently, there is no limit implemention for opening files in occlum.

Besides, the failue of the [Linux-ltp getdtablesize01 test](https://github.com/linux-test-project/ltp/blob/91fd818dbff1aa3bcefae3747f83e1dd5c1586dd/testcases/

[2022-04-12 08:56] qzheng527 commented on #865
@ClawSeven Occlum does setting the RLIMIT_NOFILE as 1024 in default. Detail please check on https://github.com/occlum/occlum/blob/master/src/libos/src/misc/rlimit.rs#L36.
But currently only "soft limit" was set, but no limit for "hard limit" which is `max` in the structure `rlimit_t`.

[2022-04-12 09:35] ClawSeven commented on #865
In current occlum, the RLIMIT_NOFILE has been applied in dup, but not set for open and others syscalls.

[2022-04-14 12:02] ClawSeven commented on #865
The recommended [implemention](https://github.com/ClawSeven/occlum/commit/7a9066c0dbe6bdc6349c05fa8e39adacb3842cf0) has been PR in my repo. But due to limitation of opening files, some of gvisor tests may fail, including clock_gettime_test, proc_test and socket_ipv4_udp_unbound_loopback_nogotsan_test. Those tests require large amounts of opening files.

However, if we set relatively large value of

[2022-04-15 16:14] AmbitionXiang opened #869 "[BUG]Assertion failed in do_futex.rs when running Rust tokio"
# Describe the bug
The bug seems related to async runtime.

# To reproduce
Steps to reproduce the behavior:
1.
set `rust-toolchain` to `nightly-2021-03-30`
2.
in `Cargo.toml`
[code]
3.
in `main.rs`
[code]
4.  run as in the demo rust_app

# Expected behavior
[code]

# Logs
If applicable, add logs to help explain your problem.

# Environment

- HW: SGX1
- OS: Ubuntu18.04
- Occlum version: 0.27.0

#

[2022-04-18 02:19] jessehui commented on #869
@AmbitionXiang Please run with this newer image: `docker pull occlum/occlum:0.27.1-ubuntu20.04`. If there is still anything wrong, please inform us. Thanks.

[2022-04-18 03:19] AmbitionXiang commented on #869
@jessehui Thank you for your reply. I run with the newer image, and the above issue seems to be solved. However, the output of println in main.rs does not appear. It seems that the program does nothing.

[2022-04-18 03:40] lijun0314 commented on #714
Hi, @guzongmin,
Does the value of Occlum MREnclave include the hash of Occlum image? Or is it just the hash of enclave?

[2022-04-18 03:43] jessehui commented on #869
@AmbitionXiang I can run this app in Occlum built with `occlum-cargo` and output exactly the same as running outside the enclave. Did you take a look a look at our rust demo https://github.com/occlum/occlum/tree/master/demos/rust?

[2022-04-18 03:51] AmbitionXiang commented on #869
@jessehui Yes, of course. when I run my codes shown above outside the enclave, there are two outputs
[code]
However, when run inside enclaves, there are no outputs at all.

The script I run:
[code]
And the rust-demo.yaml:
[code]

They are the same as in your demo rust_app.

[2022-04-18 04:01] jessehui commented on #869
In the script, change `occlum run /bin/rust_app` to `OCCLUM_LOG_LEVEL=trace occlum run /bin/rust_app`. This can give more info about what happens.

[2022-04-18 06:31] AmbitionXiang commented on #869
@jessehui Strangely, still nothing outputs...

[2022-04-18 06:37] AmbitionXiang commented on #869
Additional info:

I started the container by
`docker run -it --device /dev/isgx -v /opt/data:/root/data --network=host occlum/occlum:0.27.1-ubuntu20.04`

[2022-04-18 06:47] jessehui commented on #869
Oh yes. I just remember there is a bug on SGX 1. You can install the latest Occlum code to fix this. Or you can just modify the Occlum script located at `/opt/occlum/build/bin/occlum` based on https://github.com/occlum/occlum/commit/7772411378fa015eb1a12242f62a1e947e8a3953.

[2022-04-18 08:18] AmbitionXiang commented on #869
Thank you very much! It is exactly the reason. Solved.

[2022-04-18 08:18] #869 closed

[2022-04-19 09:11] YogzZ opened #870 "[BUG] Segmentation fault (core dumped) while using JNI in Java"
# Describe the bug
I try to call DCAP by JNI in java, but it shows `Segmentation fault      (core dumped)`

# To reproduce
Steps to reproduce the behavior:

1. Prepare
[code]

2.  Java Code:
[code]

3. Generate the head file
[code]

3. Modify the  `~/occlum/demos/java/testDCAP/dcap_c_test.c`
change the function `main()` to `JNIEXPORT jint JNICALL Java_testDCAP_runDCAP(JNIEnv *env, jobject obj)`

4

[2022-04-19 09:25] guzongmin commented on #870
@YogzZ Thank you reporting the issue. Can you please share the test Jar package to help us reduce the debugging effort?

[2022-04-19 09:44] YogzZ commented on #870
Sorry, I failed to pack the Jar file, so I upload some necessery files in `~/occlum/demos/java`.
Please add or update this file in `~/occlum/demos/java` and follow these steps:
[code]

files in: [java.zip](https://github.com/occlum/occlum/files/8511802/java.zip)

[2022-04-19 19:52] kroshkina-ms commented on #797
@qzheng527 could you please confirm which Intel SGX API is used to produce the quote that is written into the output JSON files?

[2022-04-20 07:26] qzheng527 commented on #797
@kroshkina-ms Occlum is a LibOS, application running in the Occlum, such as the MAA demo, doesn't directly call the Intel SGX APIs. Back to your question, the Quote is generated by Occlum provided [DCAP APIs/Libs](https://github.com/occlum/occlum/blob/master/docs/remote_attestation.md). These APIs of course eventually call the Intel SGX APIs through [OCALLs](https://github.com/occlum/occlum/blob/m

[2022-04-20 17:14] kroshkina-ms commented on #797
@qzheng527

Yes, MAA attestation fails to attest generated quotes with:

[code]

That is why I was looking which for exact Intel SGX API is called because `occlum` provides both remote and local report and quote generation respectively. So, I am wondering if the demo might be using an API unsupported by MAA. For instance, https://github.com/occlum/occlum/blob/8db6a55696fd2cd38d966f9afcac09ed76b5fc

[2022-04-21 01:18] qzheng527 commented on #797
@kroshkina-ms The generated quote should be fine because many of our other projects are using the same way to successfully generate/verify the quote (not MAA way). Perhaps you can double check the MAA json generation in the demo, if it is expected format., especially the "Type". I just used "3"  to make it different from the "2" for OE_ENCLAVE_TYPE_SGX.
https://github.com/occlum/occlum/blob/463d87

[2022-04-21 07:18] haosanzi opened #871 "[BUG] lack of package to install glibc tool chain and copy_bom"
# Describe the bug

After installing the occlum packages in ubuntu 18.04, the following error errors:

- no copy_bom command
- "/opt/occlum/glibc/lib" failed: No such file or directory (2)

# To reproduce
Steps to reproduce the behavior:
1. configure occlum repo
[code]
2. install the following packages
![image](https://user-images.githubusercontent.com/26923638/164396823-90f46517-a6e1-4639-838b-d7

[2022-04-22 05:42] jessehui commented on #871
@haosanzi Thank you for reporting! We will support this in the future.

[2022-04-30 04:43] linux-gcc opened #883 "How to load libocm file encryption system?"
- Feature Name: (fill me in with a unique ident, `my_awesome_feature`)
- Start Date: (fill me in with today's date, YYYY-MM-DD)

# Summary
[summary]: #summary

One paragraph explanation of the feature.

# Motivation
[motivation]: #motivation

Why are we doing this? What use cases does it support? What is the expected outcome?

# Guide-level explanation
[guide-level-explanation]: #guide-level-expla

[2022-05-06 07:16] qzheng527 commented on #797
@kroshkina-ms Any update from your side?

[2022-05-09 09:30] ethan75 opened #886 "timerfd定时器失效"
1. 使用test目录下的timerfd，直接运行正常，使用occlum new一个工作目录，然后occlum build run执行报错如下：
# occlum run /bin/main
Starting at (1652088306)...
                ERROR:timerfd_create(CLOCK_REALTIME, ...) failed in func test_timerfd at line 15 of file main.c with errno 38: Function not implemented
  func test_timerfd - [ERR]
2. 使用如下代码，直接运行能定时打印信息，使用occlum new一个工作目录，然后occlum build run执行定时器失效。
#include <iostream>
#include

[2022-05-09 23:39] kroshkina-ms commented on #797
we are working on the debugging and will get back to you shortly

[2022-05-10 02:08] ethan75 opened #887 "popen() Returns the failure"
# occlum run /bin/main
popen faild. (-1, No error information)

[2022-05-10 16:54] volcano0dr commented on #886
@ethan75  Thanks for reporting this issue. Can you provide the version number of occlum?

[2022-05-10 17:04] volcano0dr commented on #860
@liqinggd Why can't `StdinFile` support `F_GETFL` with internal HostFd.

[2022-05-11 02:02] liqinggd commented on #860
It is not complicated to implement the GETFL for stdin and stdout, we just do not implement it yet.

I will add this support

[2022-05-11 03:21] KW213 opened #890 "[BUG]demos/flink step2 error copy_bom::util"
# Describe the bug
/root/demos/flink/occlum_instance_taskmanager initialized as an Occlum instance
[2022-05-11T03:02:54Z ERROR copy_bom::util] symlink has no referent: "/usr/lib/jvm/java-11-openjdk-amd64/lib/security/blacklisted.certs"
    rsync error: some files/attrs were not transferred (see previous errors) (code 23) at main.c(1196) [sender=3.1.2]

# To reproduce
Steps to reproduce the behavio

[2022-05-11 05:08] guzongmin commented on #890
Can you please try:
docker occlum/oclum:0.27.2:-ubuntu:20.04

It is a bug of the latest openjdk11.

[2022-05-11 09:00] Bonjourz commented on #863
All the PRs are merged. Close it.

[2022-05-13 00:39] guzongmin commented on #887
Can you please provide the detailed reproduction steps to us?

[2022-05-13 06:44] ethan75 commented on #887
![image](https://user-images.githubusercontent.com/16460760/168226398-179986dc-e088-45c4-b0b8-646fd1e8f2ed.png)

**Using the environment:**
docker occlum/occlum:0.23.0-ubuntu18.04
**steps:**
root@84fcff104b87:~/ta/test-other/popen_test# occlum-gcc main.c -o  main
root@84fcff104b87:~/ta/test-other/popen_test# occlum-gcc test.c -o test
root@84fcff104b87:~/ta/test-other/popen_test# cp main test occlu

[2022-05-13 06:50] ethan75 commented on #886
Using the environment:
docker.io/occlum/occlum:0.23.0-ubuntu18.04

[2022-05-14 08:16] guzongmin commented on #887
Please try occlum/occlum:0.27.2-ubuntu20.04. You are using a very old version.

[2022-05-15 10:41] wei-coder commented on #887
363

---Original---
From: ***@***.***&gt;
Date: Sat, May 14, 2022 16:16 PM
To: ***@***.***&gt;;
Cc: ***@***.***&gt;;
Subject: Re: [occlum/occlum] popen() : Returns the failure (Issue #887)

Please try occlum/occlum:0.27.2-ubuntu20.04. You are using a very old version.

&mdash;
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you are subscribed to this

[2022-05-16 07:29] #860 closed

[2022-05-17 04:57] mythi commented on #642
+1. This is what all users run into if they follow the top-level README.

[2022-05-17 06:53] volcano0dr commented on #642
@mythi @zzylydx Thank you for your suggestion and the README will be updated soon.

[2022-05-20 02:46] lwxiaowuge opened #894 "had a problem certifying remote attestation certificates in Docker"
1,We had a problem certifying remote attestation certificates in Docker,The software and hardware environments are as follows:
Hardware:使用DELL品牌机，型号vostro 3681,11代I5 10400 CPU
Software:ubuntu 20.04 + occlum docoer20.04
          When remote attestation app was executed in docker,the intel attestation service retur CONFIGURATION_AND_SW_HARDENING_NEEDED of status code in isvEnclaveQuoteStatus of fie

[2022-05-20 05:57] guzongmin commented on #894
You need to update the BIOS to adopt the latest SGX patch. Please contact the HW provider (DELL) for the new BIOS or get an environment that supports SGX.

[2022-05-20 06:40] lwxiaowuge commented on #894
We have already updated the newest BIOS Version,Do you have any recommended PC or Server that can be verified RA remotely?

[2022-05-20 10:23] guzongmin commented on #894
You can try SGX machines on Alibaba Cloud or Microsoft Azure.

[2022-05-20 23:31] kroshkina-ms commented on #797
@qzheng527 we have done an investigation, and the quotes produces by occlum demo fail MAA attestation.

Although the quote validation passes, the supplied runtime data digest does not match runtime data digest in quote.
In other words, the report data from the quote does not match the hash of the enclave held data.

Could you please verify what exactly is happening withing the `dcap_generate_quote

[2022-05-23 03:03] qzheng527 commented on #797
@kroshkina-ms Great, very useful information!

Double check the code, probably it is because the struct `hash` doesn;t got initialized to 0 by default.
I Updated the PR with one more commit:

- Initialize the `hash` struct members to all 0.
- Do compare of the supplied "report data" (`hash`) and the report data from the generated quote to make sure they are same.

Please  try the latest [`maa-upda

[2022-05-23 05:24] kroshkina-ms commented on #797
@qzheng527 makes sense and I can confirm that the new code passes attestation, thank you. Could you update your PR please

[2022-05-23 06:10] qzheng527 commented on #797
@kroshkina-ms  Excellent, I created a new PR [`maa pr`](https://github.com/occlum/occlum/pull/895) including the fix.  And please let me know what is the next step? Any help needed from us?

[2022-05-24 00:57] lwxiaowuge commented on #894
OK，Thanks!

[2022-05-24 00:57] #894 closed

[2022-05-24 03:07] reverseXiang opened #896 "[RFC] Considering arm architecture compatibility?"
- Feature Name: (fill me in with a unique ident, `my_awesome_feature`)
- Start Date: (fill me in with today's date, YYYY-MM-DD)

# Summary
[summary]: #summary

One paragraph explanation of the feature.

# Motivation
[motivation]: #motivation

Why are we doing this? What use cases does it support? What is the expected outcome?

# Guide-level explanation
[guide-level-explanation]: #guide-level-expla

[2022-05-27 00:56] pengxj2017 opened #899 "[RFC]"
Ubuntu20.04 platform, using the SGX - tree in driver
Hardware platform is Intel Xeon 4314
Use the docker ubuntu20.04, test DCAP remote attestation wrong:

thread 'main' panicked at 'IOCTRL IOCTL_GET_DCAP_QUOTE_SIZE failed', src/occlum_dcap.rs:70:13
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

docker run command:
mkdir -p /dev/sgx
cd /dev/sgx && ln -sf ../sgx_encla

[2022-05-27 01:25] qzheng527 commented on #899
@pengxj2017 Did you set a valid `PCCS_URL` in your container env /etc/sgx_default_qcnl.conf? You have to make sure the container could access the PCCS service as well.

[2022-05-27 05:39] pengxj2017 commented on #899
I have already modified the configuration files
/etc/sgx_default_qcnl.conf

PCCS_URL=https://sgx-dcap-server.cn-hangzhou.aliyuncs.com/sgx/certification/v3/

# To accept insecure HTTPS certificate, set this option to FALSE
USE_SECURE_CERT=TRUE

I switch to another environment
CPU：I5 10400
test EPID remote attesttion Demo is OK
but DCAP demo error:
[get_platform_quote_cert_data ../qe_logic.cpp:347]

[2022-05-27 06:20] qzheng527 commented on #899
@pengxj2017 "0xe047" means "SGX_QL_PLATFORM_UNKNOWN, Platform was not found in the cache".
You can try the SGX sample code first to see if the PCCS service can work for your platform.
https://github.com/intel/SGXDataCenterAttestationPrimitives/tree/master/SampleCode/QuoteGenerationSample

[2022-05-27 06:23] qzheng527 commented on #899
It is not SGX DCAP avaiable platform.

[2022-05-30 01:48] lucassong-mh opened #900 "[RFC] Support POSIX shared memory"
- Feature Name: Support POSIX Shared Memory
- Start Day: 2022-5-16

## Overview of POSIX shm

[The POSIX shared memory API](https://man7.org/linux/man-pages/man7/shm_overview.7.html) allows processes to communicate information by sharing a region of memory.
Core interfaces employed in the API are:

- [**shm_open(3)**](https://man7.org/linux/man-pages/man3/shm_open.3.html): (wrapper of open syscall

[2022-06-01 04:12] softpudding opened #902 "[BUG] Does Occlum support SEMAPHORE or SHARED MEMORY for now?"
I tried to run XDB (a modified version of PostgreSQL 9.4.2) on Occlum but failed. The output is here:
[code]
Looks like Occlum does not support samaphores.
Building PostgreSQL requires shared memory as well, so I also wonder if Occlum supports shared memory now? ( I see in the original paper the shared memory is said not possible to be implemented)

[2022-06-01 12:06] softpudding commented on #902
Thanks for your reply. May I ask if Occlum team is planning to support System V Semaphonre as well?

[2022-06-01 15:41] volcano0dr commented on #902
We will evaluate this issue later.

[2022-06-15 08:47] ziqi-zhang opened #912 "Low pytorch model inference speed in SGX compared to CPU (slower than 10x)"
Hi,

I tried to compare the inference speed of pytorch models in SGX and on CPU. I found that the speed in SGX is much lower than in CPU (slower than 10x), which is pretty odd. I think the speed of SGX should be a little lower than CPU, but not as 10x.

I followed the [official pytorch demo](https://github.com/occlum/occlum/tree/master/demos/pytorch) to run the code. The model is a simple ResNet m

[2022-06-19 08:01] TYTaO opened #914 "[BUG]"
# Describe the bug
运行/demos/remote_attestation/init_ra_flow失败

# To reproduce
Steps to reproduce the behavior:
如其readme所示

# Expected behavior
A clear and concise description of what you expected to happen.

# Logs
If applicable, add logs to help explain your problem.
occlum_client logs:
[code]
occlum_serverlogs:
[code]

# Environment
使用阿里云安全增强实例

- HW: [e.g. SGX1, SGX2]  SGX2
- OS: [e.g. Ubuntu18

[2022-06-19 08:05] TYTaO commented on #914
相同环境下，运行demos/remote_attestation/dcap成功
：
[code]
DCAP verify quote successfully

[2022-06-20 02:24] qzheng527 commented on #914
@TYTaO
1. Because ubuntu18.04 has many security issues, Occlum now only officially support ubuntu20.04 based docker image.
2. There is some init-ra related updates since 0.26.4 release.

So please try **occlum/occlum:0.27.3-ubuntu20.04** to see if problem still happens.

[2022-06-20 02:57] TYTaO commented on #914
thx, 可以问一下完好运行occlum对linux 内核版本有要求吗？阿里云上的ubuntu内核版本是5.4，在一些材料中看到对sgx的更好支持需要5.9+，然而我在aliyun上升级内核遇到了大大小小问题。或者occlum有在阿里云上部署的案例嘛？目前只看到了另一个libos。

[2022-06-20 05:25] qzheng527 commented on #914
@TYTaO You can try upgrade aliyun Ubuntu20.04 kernel to 5.13 by below command.
[code]

[2022-06-20 15:14] TYTaO commented on #914
i upgrade aliyun Ubuntu20.04 kernel to 5.13, and run occlum
This error has occurred：
[code]

[2022-06-30 03:21] liqinggd opened #929 "Improve the scripts in demo to handle errors more gracefully"
Now Occlum already has many demos, and the demo also provides many scripts to help the user to download, build, or run the application inside the enclave.

Meanwhile, the scripts can be failed to execute because of some errors, such as network errors. The users do not know how to deal with the errors usually.

So we should improve the scripts to handle the errors more gracefully, or give some sugg

[2022-06-30 15:48] AmbitionXiang opened #933 "Out of memory error when I run a Rust project"
I meet this error when I run Rust project with occlum, here is the configuration
[code]
And the error
[code]

My machine:
Intel(R) Xeon(R) Gold 5317 CPU @ 3.00GHz and 377GB memory.
Occlum version 0.27.0

[2022-07-01 03:01] jessehui commented on #933
Thanks for using Occlum. Please be noted that the process heap and stack are allocated from the `resource_limits.user_space_size`.

I am not sure why you use the number for this configuration, but a simple way is to decrease the size of process heap and stack size. And for memory resource configuration, please take a look at this [doc](https://github.com/occlum/occlum/blob/master/docs/resource_con

[2022-07-01 06:29] AmbitionXiang commented on #933
Thanks for your reply! It works. However, I meet another issue, same as https://github.com/occlum/occlum/issues/364. Now I'm checking whether it is about fsgsbase.

[2022-07-01 09:38] onew0rd opened #936 "Does occlum support write files outside enclave?"
-  example.go
[code]
- Runing it outside enclave , the example.go will create a directory `demo` in current path.
- When  it was executed inside  the enclave by using occlum, it printed the expected string `hello world`, but it did not create  the `demo` directory.
- Q1: Where is the `demo` directory?
- Q2: If we want to write a file from the occlum-enabled enclave to the disk (outside the enclave

[2022-07-01 09:52] liqinggd commented on #936
# Q1:Where is the `demo` directory?

The files and dirs are stored in the SEFS(Simple Encrypted FS), so the conditionality and integrity of data are protected. The layout of SEFS is special and incomprehensible to Host Linux.  The position is at `./run/mount/__ROOT` of occlum instance, please see `Occlum.json` for the mount information.

# Q2:If we want to write a file from the occlum-enabled encl

[2022-07-01 10:08] onew0rd commented on #936
Thank you for your comments.
But, it still did not work correclty.

- The modified example.go
[code]

- The `Occlum.json`:
[code]

- It occured erros as the following:
[code]

[2022-07-01 10:17] AmbitionXiang opened #937 "[BUG] occlum-pal: Failed to run the init process: EINVAL"
# Describe the bug
I meet the same bug as https://github.com/occlum/occlum/issues/364. I also follow https://github.com/occlum/enable_rdfsbase. But with Xeon machine, SGX1, and occlum 0.28.0, which is able to detect the fsgsbase.

# To reproduce
Steps to reproduce the behavior:
1.  Run the rust demo
2.
3.
4.

# Expected behavior
[code]

# Logs
[code]

The results:
[code]

And logs in occlum gdb:
[

[2022-07-01 10:18] AmbitionXiang commented on #933
I open another issue https://github.com/occlum/occlum/issues/937 regarding the new problem. Closing the current issue. Thanks.

[2022-07-01 10:18] #933 closed

[2022-07-01 10:40] onew0rd commented on #936
Got it, thanks a lot!

Looking forward to your upgrade about this sync feature.

[2022-07-01 10:49] onew0rd commented on #936
BTW, how do we read the encrypted file again from the SEFS? e.g., how do we read the `demo` again from the `/run/mount/__ROOT` ?

"The files and dirs are stored in the SEFS(Simple Encrypted FS), so the conditionality and integrity of data are protected. The layout of SEFS is special and incomprehensible to Host Linux. The position is at ./run/mount/__ROOT of occlum instance,"

[2022-07-01 11:29] liqinggd commented on #936
Please refer to https://github.com/occlum/occlum/blob/master/docs/mount_cmd.md

[2022-07-01 12:21] volcano0dr commented on #937
`Occlum 0.28.0 `has not been released yet. In addition `0.28.0` requires the use of `Intel SGX SDK 2.16`
Please try occlum/occlum:0.27.3-ubuntu20.04.

[2022-07-01 13:18] AmbitionXiang commented on #937
Actually, when I tried 0.27.0, I have met this error after solving https://github.com/occlum/occlum/issues/933. The error report is the same as https://github.com/occlum/occlum/issues/364

[2022-07-03 07:00] Yuandaodao opened #938 "[BUG] App unable start in Occlum enclave"
Hi, Occlum team,

I am trying to run a app inside sgx enclave using occlum.
When I run the occlum instance according to tutorial. I get the following error using Occlum trace(Partial as follows):
[code]

It told me that the kernel is too old, but my environment including:
Host OS: Alibaba Cloud Linux 3 and 5.10.112.
Occlum in docker image 0.27.3-ubuntu20.04.
When I try demos in the image, it succe

[2022-07-03 12:27] volcano0dr commented on #938
I suspect why reporting "kernel is too old" is that the `arch_prctl(code = 12289 )` syscall is not supported. `Code 12289` means `ARCH_CET_STATUS`. I have checked the linux 5.18.9 kernel code and find that `ARCH_CET_STATUS` has not been supported. Also `ARCH_CET_XXX` is not supported in Occlum too.
In your App code, you can try to remove the enable Intel CET.

[2022-07-03 13:02] Yuandaodao commented on #938
Hello,@volcano0dr,
Thanks for your reply. But I have another questions:
1. I check the code of the APP, it doesn't use the arch_prctl explicitly. Are there any other reasons invoking this syscall?
2. I search some blogs about CET, I believe that CET is a hardware characteristic with enhanced security. And I use`lscpu | grep cet` to verify, but there's no output. I am not sure about the correctness

[2022-07-03 14:46] volcano0dr commented on #938
Another possibilit, the `uname` system call in the occlum returns a release version number of `0.1`, which may also be a reason why your app reports that the kernel is too old.

[2022-07-04 04:31] Yuandaodao commented on #938
Thanks for your reply.
I try to search the `uname` syscall in the App, but gain nothing also.
We can find that there are `brk`, `ArchPrctl`, `uname` and other syscalls from logs above, but I am sure that they are not in the App (explicitly).
Could you tell me about the process of launching the App in Occlum, is it possible for Occlum to invoke these syscalls?

[2022-07-04 04:45] Yuandaodao commented on #938
It seems that `FATAL: kernel too old` is not from the App but the system itself.
In order to locate the crux of the problem, I use the occlum gdb to debug the App.
[code]
Is the occlum gdb in SGX simulation mode?

# Reproduce
The App I try to adapt into Occlum is [https://github.com/microsoft/ms-tpm-20-ref](url).
You can reproduce it using my enviromnet setting:
(IN DOCKER CONTAINER)
1.download
2.

[2022-07-04 07:06] Yuandaodao commented on #938
Hello, @volcano0dr,
I use the `strace` to check the binary again. As you say, it calls the glibc and glibc calls the arch_prctl twice. (outside Occlum)
`
...
arch_prctl(0x3001 /* ARCH_??? */, 0x7ffef3d3f100) = -1 EINVAL (Invalid argument)
...
arch_prctl(ARCH_SET_FS, 0x7fb88ae26d00) = 0
`
I lookup the source code in **occlum/src/libos/src/process/do_arch_prctl.rs**, the do_arch_prctl doesn't suppor

[2022-07-04 17:11] volcano0dr commented on #938
@jiazhang0 Thank you for your reply.
@Yuandaodao According to the log analysis above,  I suspect that the glibc your application depends on is not the glibc modified by occlum (path: /opt/occlum/glibc). Please use the copy_bom tool to copy your app's dependencies.

[2022-07-06 01:35] onew0rd commented on #377
Hi,does the libocclum-libos.signed.so contain the trusted app code and the occlum code?

[2022-07-06 08:08] volcano0dr commented on #377
Does not contain trusted app code in libocclum-libos.signed.so.

[2022-07-07 05:51] liqinggd commented on #936
@onew0rd  the commit in https://github.com/occlum/occlum/pull/940 may fix the errors you encountered.

[2022-07-07 19:13] JasonVranek opened #944 "[BUG] Non-deterministic MRENCLAVE value for the same TCB"
# Describe the bug
I'm unsure if this is a bug or if it's an intentional part of the `occlum build` command, but I am unable to generate two signed enclave binaries with the same MRENCLAVE value.

# To reproduce
Steps to reproduce the behavior:
1. Inside the docker container, follow instructions to run the hello_c demo.
2. Running `occlum build` on the same unmodified source code always yields a d

[2022-07-07 19:14] JasonVranek opened #945 "[BUG] Non-deterministic MRENCLAVE value for the same TCB"
# Describe the bug
I'm unsure if this is a bug or if it's an intentional part of the `occlum build` command, but I am unable to generate two signed enclave binaries with the same MRENCLAVE value.

# To reproduce
Steps to reproduce the behavior:
1. Inside the docker container, follow instructions to run the hello_c demo.
2. Running `occlum build` on the same unmodified source code always yields a d

[2022-07-08 01:09] liqinggd commented on #944
Hi, I have tried, but the MRENCLAVE value is the same on my machine.

[2022-07-08 06:37] chenzhijun45 opened #946 "make submodule error"
Specific logs are as follows：
fatal：need a single revision
unbale to find current revision in submodule path 'deps/serde-json-sgx'
make: *** [Makefile:69: init-sunmodule] Error 1
What should I do？
Who can help me, Thanks!

[2022-07-08 10:11] onew0rd commented on #377
So, how do we check the trusted app's measurment when performing a remote attestation?
That is, does the MRenclave is calculated from the trusted app and the libocclum-libos.signed.so?

[2022-07-08 10:20] onew0rd commented on #936
@liqinggd thanks, it sounds great!
If I want to try this new feature, should I compiled occlum manually? can I try this feature by re-pull the occlum image from the docker hub?

[2022-07-08 15:18] Yuandaodao opened #948 "[BUG]"
Hi, Occlum team,
After I put the App (#938 ) into Occlum successfully, I need to use the test-suite to verify the correctness of the App.
The test suite use the `stdbuf` in their shell. And I get some errors as follows:

[code]

# To reproduce
Steps to reproduce the behavior:
1. The solution of the #938 is to recompile the dependency using the muslc library.
2. `OCCLUM_LOG_LEVEL=trace stdbuf -o0 -

[2022-07-11 01:52] #946 closed

[2022-07-11 01:52] chenzhijun45 commented on #946
I think I should implement it based on docker

[2022-07-11 02:22] chenzhijun45 opened #949 "occlum-g++ Compilation failed"
I did the following in docker(occlum/occlum:latest-ubuntu20.04):

It can be compiled with g++, but it fails to compile with cluster-g++, and the GMP library cannot be found.

If I copy the g++ compiled file test to /image/bin, Libgmp so. 10 not found.

What can I do to implement it correctly?

[2022-07-11 03:59] liqinggd commented on #948
It seems that the content in `/etc/hosts` in your Host OS can not pass the sanity check. Occlum uses this file from Host OS, and enforces some sanity checks before use.

[2022-07-11 04:02] liqinggd commented on #936
Correct, you should compile occlum manually or pull the newer image after our next release.

[2022-07-11 04:08] liqinggd commented on #949
The occlum-g++ use musl as the libc, so the libs your application depends on should be compiled and installed into `/usr/local/occlum/x86_64-linux-musl/lib`. Then occlum-g++ can find the libs.

[2022-07-11 05:15] guzongmin commented on #948
@Yuandaodao, Can you please show us your machine's /etc/hosts file?

[2022-07-11 06:46] Yuandaodao commented on #948
@guzongmin
Of course, the following is the content of `/etc/hosts` in the container:
[code]

[2022-07-11 06:55] Yuandaodao commented on #948
@liqinggd @guzongmin
Thanks for your reply, but I think the key is these two lines:
[code]
Because I meet the failure of sanity check also in some other attempts, it doesn't affect the program in Occlum.

[2022-07-11 08:32] chenzhijun45 commented on #949
@liqinggd
Thank you for your answer,I've done it.
But, The following exceptions occur:
x86_64-linux-musl/lib/libgmp.so not found.
x86_64-linux-musl/lib/libgmp.so: undefined to strtol@GLIBC_2.2.5.
Is it because I failed to compile, but you can see that the libgmp.so file exists in the /usr/local/occlum/x86_64-linux-musl/lib/ directory.

[2022-07-11 08:55] liqinggd commented on #949
@chenzhijun45 Maybe you misuse the libs, it seems that the library is a Glibc version.

BTW, Occlum also supports Glibc, you can just compile the app with g++.

[2022-07-11 09:52] liqinggd commented on #948
@Yuandaodao  yes, you are right. The `pthread_create` of pal(the untrusted part) returns the` ENOSYS` error.  This error is very weird, so I guess there are some problems with your machine.

[2022-07-11 11:14] chenzhijun45 commented on #949
@liqinggd Thanks, Does that mean I have to use the GMP Library of musl version.

[2022-07-12 02:49] liqinggd commented on #949
Correct, it means that you have to use the GMP Library of musl version

[2022-07-12 08:30] onew0rd commented on #936
@liqinggd Hi, I have compiled the latest occlum code manually, but these errors still occurred.

	panic: fatal: MANIFEST dirsync failed: sync /host/demo: is a directory

[2022-07-12 08:36] onew0rd commented on #936
Yes, I have run the `make install` , and the `occlum` or `occum-run` have been updated.

[2022-07-12 09:01] liqinggd commented on #936
@onew0rd  maybe you forget to re-construct the occlum instance.

[2022-07-12 09:05] liqinggd commented on #936
@onew0rd could you append the Occlum log with the `OCCLUM_LOG_LEVEL=trace` environment variable?

[2022-07-12 09:21] onew0rd commented on #936
The trace log as follows, BTW, did your team check taht the above `example.go` run correctly? Thanks.

- `trace.log`:
[code]
-

[2022-07-12 09:23] onew0rd commented on #936
`OCCLUM_LOG_LEVEL=trace occlum run /bin/test  >trace.log`, it seems that this command can not write the log to the file `trace.log`

[2022-07-12 09:58] liqinggd commented on #936
It seems that another error happens, the ENOSYS returns
[code]

I will fix this issue

[2022-07-12 11:01] chenzhijun45 commented on #949
@liqinggd  Thank you for your answer! But, I am on GMP official website (https://gmplib.org/download/gmp/) unable to find the version of GMP for musl. I'm not familiar with c++. I really don't know how to solve this problem. The following is the process of compile GMP:
Start docker: sudo docker run -it --name occlum occlum/occlum:latest-ubuntu20.04 /bin/bash.
Compile GMP to /usr/local/occlum/x86_6

[2022-07-12 11:32] liqinggd commented on #949
I guess you should set the compiler for GMP when building it. Maybe you can  reference https://github.com/occlum/occlum/blob/master/tools/toolchains/musl-gcc/install_zlib.sh as an example

[2022-07-12 14:37] #949 closed

[2022-07-13 01:17] Yuandaodao commented on #948
@guzongmin I change the `resource_limits.max_num_of_threads` to 128 and 256, it also has some errors. And my `Occlum.json` is as following:
[code]

[2022-07-13 01:23] guzongmin commented on #948
@Yuandaodao Have you successfully launched any demo with Occlum? For example:https://github.com/occlum/occlum/tree/master/demos/hello_c

[2022-07-13 01:27] guzongmin commented on #914
@TYTaO @qzheng527 It seems that Occlum crashed. Need to do more investigation about it.

[2022-07-13 01:28] guzongmin commented on #945
Duplicated with https://github.com/occlum/occlum/issues/944

[2022-07-13 01:29] #945 closed

[2022-07-13 01:38] guzongmin commented on #937
@AmbitionXiang In some versions of Kernel, the rdfsbase driver is blocked. So please update your kernel to a newer version or regression to an older version. I suggest you update to 5.11 or a later one.

[2022-07-13 01:50] qzheng527 commented on #914
@guzongmin `init_ra_flow` demo has not been merged to Occlum in release 0.26.4. So 0.26.4 is not a proper version to verify `init_ra_flow` demo.  Anyway, from the log, probably it was becasue the client was not in the server allowable list.  I will check the root cause.

[2022-07-13 02:07] onew0rd commented on #936
@liqinggd, your fix works well, thanks.
BTW, when writing a file to the `/host/xxx`, occlum will also create a same file to the `run/mount/_ROOT`?

[2022-07-13 02:48] qzheng527 commented on #914
@TYTaO I couldn't reproduce the bug with latest init_ra_demo (manually download and build) even in Occlum/Occlum:0.26.4-ubuntu18.04 docker image.  From the log, probably it was becasue the client was not in the server allowable list. Please provide the info below.
[code]

[2022-07-13 08:45] chenzhijun45 opened #952 "Where should I put the resource file"
If my program needs to read a.txt, Where should I put a.txt? I tried to copy it to the ${occlum_isntance}/image/ directory, but it didn't work.

[2022-07-13 08:51] qzheng527 commented on #952
@chenzhijun45 After the copy, did you do `occlum build` ?

[2022-07-13 10:34] chenzhijun45 commented on #952
Thank you very much for your answer. I made a mistake.

[2022-07-13 10:35] #952 closed

[2022-07-14 07:03] Yuandaodao commented on #948
@guzongmin Yes, the demo can be launched successfully.
[code]

[2022-07-14 15:05] AmbitionXiang commented on #937
Hope it may be helpful for you to fix the bug...
I replaced the out-of-tree driver with DCAP driver v1.41, and then the problem was solved. I still used Occlum 0.28.0 and SGX SDK 2.14.
Moreover, the patch https://github.com/occlum/enable_rdfsbase seems useless, while I patched kernel 5.4.0 successfully by following https://gramine.readthedocs.io/en/stable/devel/building.html#advanced-installing-li

[2022-07-15 00:37] Yuandaodao commented on #938
@volcano0dr @jiazhang0 Thanks for your reply.
The reason of this bug is rooted in the `uname`.
If Occlum users compile their program based on [`glibc`](https://ftp.gnu.org/pub/gnu/glibc/) than [`muslc(occlum glibc)`](http://musl.libc.org/), the glibc is linked by ld, ld calls l_main→DL_SYSDEP_OSCHECK→_dl_discover_osversion→__uname(uname).
It triggers the bug and glibc reports the error message: ke

[2022-07-15 02:04] qzheng527 commented on #938
@Yuandaodao It is expected that dynamilly link `hello_uname` return ` kernel too old` because  the `uname` in Occlum LibOS returns the version of Occlum kernel not Linux kernel.
The static link way is not good to be used in Occlum with the reasons below:
- It uses the libc in the OS not the expected one for Occlum.
- `-static` disables  -fpic and -fpie automatically, while PIE is expected in Occlu

[2022-07-15 02:06] guzongmin commented on #937
@AmbitionXiang Happy to know you make it work. The fsgsbase support and SGX driver are merged into the kernel 5.11 and later versions. So using the officially supported kernel may be a better solution. There is a security issue (only impacts the applications running outside the enclave) with the simple kernel patch or driver. For your reference, [https://lwn.net/Articles/821723/](https://lwn.net/A

[2022-07-15 03:51] AmbitionXiang commented on #937
Thank you. Closing the issue...

[2022-07-15 03:51] #937 closed

[2022-07-15 07:40] Yuandaodao commented on #938
@qzheng527
Thanks for your reply, the problem was resolved. 👍

[2022-07-15 07:40] #938 closed

[2022-07-15 07:58] guzongmin commented on #948
Interesting. I notice that you want to run the TPM simulator inside Occlum. What results if you run the command  "occlum run /bin/tpm2-simulator-muslc" without stdbuf? Is the tpm2-simulator-muslc workable inside Occlum?

[2022-07-15 08:12] Yuandaodao commented on #948
@guzongmin Yes, I can launch it successfully using `occlum run /bin/tpm2-simulator-muslc`
[code]
I find the `unbuffer` to replace the `stdbuf`, it works also. So I believe the `stdbuf` triggers the bug. And I use the `strace -fff stdbuf -e0 -o0 occlum run /bin/tpm2-simulator-muslc` tracing it.
[trace-stdbuf.log](https://github.com/occlum/occlum/files/9119076/trace-stdbuf.log)

[2022-07-15 08:25] guzongmin commented on #948
@Yuandaodao Thanks for your analysis.

[2022-07-15 08:49] chenzhijun45 opened #955 "The generated file cannot be found in occlum"
I compiled and ran an example of lightgbm with oclum(https://github.com/microsoft/LightGBM/tree/master/examples/binary_classification).
Everything is normal. Two files should have been generated: LightGBM_mode.txt, LightGBM_predict_result.txt.
But I can't find these two files in occlum. Is it encrypted and saved? If so, how can I get these two files?

[2022-07-17 10:41] chenzhijun45 commented on #955
I have solved it by referring to the demo：https://github.com/occlum/occlum/tree/master/demos/xgboost

[2022-07-17 10:41] #955 closed

[2022-07-18 09:33] liqinggd commented on #936
No, the default configuration shows that the current dir "."(which is the `occlum_instance`) will be mounted as `/host` inside the enclave. So the file is in `occlum_instance`. You can modify the Occlum.json to mount another dir.
[code]

[2022-07-19 02:42] billionairiam commented on #684
Maybe I think you should modify you aesmd.conf , I guess your network has a proxy and add a proxy to your aesmd.conf will be OK. This file's position in /etc/aesmd.conf. below is my configuration

#Line with comments only

          #empty line with comment
#proxy type    = direct #direct type means no proxy used
#proxy type    = default #system default proxy
proxy type    = manual #aesm proxy sho

[2022-07-20 02:59] onew0rd commented on #936
Can we disable the SEFS? It seems that occlum will do some sync (or write-back operations) when exiting the enclave.

[2022-07-20 07:59] liqinggd commented on #936
@onew0rd The answer is no. I think it is possible to use the untrusted fs(HostFS) as the rootfs of the enclave, it needs some tricky modifications.

[2022-07-25 01:27] chenzhijun45 opened #962 "occlum-pal: The init process exit with code: 139 (line 62, file src/pal_api.c)"
I have installed SGX driver and PSW and SDK.
system information：Linux test-node01 5.11.0-051100-generic #202102142330 SMP Sun Feb 14 23:33:21 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux.
cpu info: Intel(R) Xeon(R) E-2378 CPU @ 2.60GHz
Support for SGX has been turned on.

service aesmd status:
aesmd.service - Intel(R) Architectural Enclave Service Manager
     Loaded: loaded (/lib/systemd/system/aesmd.

[2022-07-25 01:46] guzongmin commented on #962
@chenzhijun45 Please use Occlum docker image for your testing.

[2022-07-25 01:49] chenzhijun45 commented on #962
There is no problem using docker, but it needs to run in a non docker environment. How should I deal with this?

[2022-07-25 02:24] guzongmin commented on #962
**Either** follow the https://github.com/occlum/occlum/tree/master/demos/deployment to deploy **Or** install Occlum correctly with the steps in https://github.com/occlum/occlum/blob/master/tools/docker/Dockerfile.ubuntu20.04.

[2022-07-25 06:22] chenzhijun45 commented on #962
Thank you for your answer~

I pulled the recent docker image of occlum, then execute the following command:
1. docker run -it --name occlum --device /dev/isgx occlum/occlum:latest-ubuntu20.04;
2. cd /root/demos/hello_cc && occlum-g++ hello_world.cc -o hello && occlum new test && cd test && cp ../hello image/bin && occlum build --sgx-mode SIM && occlum run /bin/hello

Successfully output Hello Worl

[2022-07-28 06:33] jingleizhang opened #964 "[BUG] Element is not recognized - "PKRU"."
# Describe the bug
build error: Element is not recognized - "PKRU".

# To reproduce
Steps to reproduce the behavior:
1. cd demos/hello_cc
2. mkdir occlum_workspace && cd occlum_workspace
3. occlum init && rm -rf image
4. copy_bom -f ../hello.yaml --root image --include-dir /opt/occlum/etc/template
5. occlum build

# Logs

Element is not recognized - "PKRU".
Configuration file format is not correct

[2022-07-28 06:43] Bonjourz commented on #964
Hi @jingleizhang, could you show the version of docker image Occlum runs on?

[2022-07-28 06:46] jingleizhang commented on #964
The build error is solved when I downgraded to the tag: v0.27.3.

[2022-07-28 06:47] jingleizhang commented on #964
Hey @Bonjourz , I built them from source codes.

[2022-07-28 06:57] Bonjourz commented on #964
I suspect the the Intel SGX SDK is not the latest one in your docker environment.

This is a way to solve such issue. Glad to see you have solved it 😁.

Another way to solve it is that build the Occlum in `occlum/occlum:0.28.0-ubuntu20.04` docker images. (Start container by typing `docker run -it ... occlum/occlum:0.28.0-ubuntu20.04`).

We will upgrade the Intel SGX SDK in the latest version of do

[2022-07-28 06:58] jingleizhang commented on #964
Thanks! I'll close this issue.

[2022-07-28 06:58] #964 closed

[2022-07-29 05:19] guzongmin commented on #962
@chenzhijun45 You could use the SGX SDK demo install in /opt/intel to confirm that your SGX HW is working correctly.

[2022-08-04 08:23] chenzhijun45 commented on #962
Thank you for your answer, I changed the CPU to Intel(R) Xeon(R) E-2378G CPU @ 2.60GHz and the problem was solved, It may be a CPU problem.

[2022-08-04 08:23] #962 closed

[2022-08-05 13:58] morning21 opened #973 "[BUG] docker: Error response from daemon: failed to create shim task: OCI runtime create failed"
# Error: Cannot run the occlum-app image after being generated

1. I followed the first four steps from the [introduction](https://github.com/occlum/occlum#hello-occlum), and I can run hello_world successfully.
2. I followed the steps from [here](https://github.com/occlum/occlum/blob/master/docs/rune_quick_start.md#building-occlum-container-image) and generate the image successfully.
3. When I exe

[2022-08-08 03:22] qzheng527 commented on #973
@morning21 Did you install rune in your host environment?
https://github.com/occlum/occlum/blob/master/docs/rune_quick_start.md#requirements

Also, please follow https://github.com/occlum/occlum/blob/master/docs/rune_quick_start.md#configuring-oci-runtime-rune-for-docker to configure rune.

[2022-08-08 04:05] morning21 commented on #973
@qzheng527

Thanks for your response.
For the installation of rune, I have tried the [rune_quick_start](https://github.com/occlum/occlum/blob/master/docs/rune_quick_start.md#requirements). When I input 'sudo apt update', 'Release' does not have a Release file.

Thus, I tried the installation reference to [inclavare-container](https://github.com/inclavare-containers/inclavare-containers/tree/master

[2022-08-08 05:56] haosanzi commented on #973
@morning21 hi, right now the [debian repo of rune](https://mirrors.openanolis.org/inclavare-containers/deb-repo) only supports ubuntu 18.04.

If you want to run rune in ubuntu 20.04, you need try the installation reference to [inclavare-container](https://github.com/inclavare-containers/inclavare-containers/tree/master/rune?spm=a2c63.p38356.0.0.3efe6cceGShw0C#rune).

These two rune tools are both

[2022-08-08 06:13] morning21 commented on #973
Thank you @haosanzi .

My current `rune` is installed according to [inclavare-container](https://github.com/inclavare-containers/inclavare-containers/tree/master/rune?spm=a2c63.p38356.0.0.3efe6cceGShw0C#rune). And the `docker/daemon.json` is configured as [Occlum guide](https://github.com/occlum/occlum/blob/master/docs/rune_quick_start.md#configuring-oci-runtime-rune-for-docker).

But when I execu

[2022-08-11 07:59] yunkaibai opened #979 "Does Occlum support SGX2 EDMM? How to create a Occlum instance which will use SGX2 EDMM?"
Hi, Occlum team.

# Describe the question
I tried to create a Occlum instance which will use the SGX2 feature, such as EAUG, but failed.

# To reproduce
1. In BIOS, the PRMRR is set to 4GB.
2. Changing the `user_space_size` to `30000MB` in `Occlum.json`.
[code]
3. The generated enclave configuration as follows. The HeapMaxSize equals to HeapMinSize. As all I know, in SGX SDK, the `HeapMinSize` is

[2022-08-11 09:58] jessehui commented on #979
Hi @yunkaibai, thanks for using Occlum. SGX EDMM is not officially ready including the kernel patch and SDK. Currently, Occlum has no support for EDMM yet. However, we are working on this and please stay tuned.

[2022-08-11 12:48] haosanzi commented on #973
hi, @morning21 , please refer to [this link](https://github.com/inclavare-containers/inclavare-containers/blob/master/rune/README.md#creating-an-oci-bundle) to create rune bundle and use `rune --debug run 123` to find the detailed information.

If you meet `[ERROR] occlum-pal: Failed to create enclave with error code 0x2004: Unknown SGX error (line 152, file src/pal_enclave.c)`, the error reason i

[2022-08-11 13:47] morning21 commented on #973
Thank you very much! It works now.

[2022-08-11 13:47] #973 closed

[2022-08-11 14:55] aep opened #980 "java JNI support"
is the lack of JNI support intentional or does that only affect the docker images?

[code]

[2022-08-16 02:47] yunkaibai commented on #979
Thanks for your comments. Looking forward to your updates.

[2022-08-28 14:38] lz18064638846 opened #986 "Extremely poor performance of mmap"
I have tried to preserve heap memory for Java virtual machine and I found it extremely slow on some mmap function.

[2022-08-29 00:59] guzongmin commented on #986
@lz18064638846 Thanks for reporting the issue. Can you please tell me more about your findings "the problem of mmap for specific address"?

[2022-08-29 03:27] lz18064638846 commented on #986
@guzongmin mmap take the first argument as a request for the target address. However, Occlum has a pre-defined free range and most requests of mmap on specific virtual address will fail and perform badly.

[2022-08-29 05:19] guzongmin commented on #986
@lz18064638846 Occlum could only protect that memory address inside the enclave. So the mmap with a fixed address may return fail.

[2022-08-29 05:37] lz18064638846 commented on #986
@guzongmin I understand the reason why the mmap fail, but I find it unacceptable that the unsuccessful trial took over 6s to finish, I think this is something to improve for occlum.

[2022-08-29 05:55] guzongmin commented on #986
@lz18064638846 Is there an easy case to reproduce it?

[2022-08-29 06:39] lz18064638846 commented on #986
@guzongmin I discover this overwhelming overhead on the boot time for JVM, try to run hello world with -Xmx512m -XX:+UseCompressedOops, it literally took over 80s to finish the simple hello world.

[2022-08-29 07:38] guzongmin commented on #986
How do you know a failed mmap with 512MB and fixed address takes 6s?
My expected behavior is: A successful mmap with a large size may be very slow. But if it is a failed case, it could quickly return the failure.

[2022-08-29 09:22] chuan-xu opened #988 ""IOCTRL IOCTL_VER_DCAP_QUOTE failed" in rust"
在rust中使用dcap_lib，参考demos/remote_attestation/dcap/c_app/dcap_c_test.c。demo中dcap案例verify quote成功：“DCAP verify quote successfully”。但是rust按照相同逻辑写了一遍失败了，下面是用rust直接调用的源码：
[code]

下面是输出的结果：(验证失败)
[+] quote size = 4599
[+] size of sgx_quote3_t: 436
[+] EncPPID:
2d2d2d2d2d424547494e2043455254494649434154452d2d2d2d2d0a4d4949456a6a4343424453674177494241674956414d79454f4d6e514b70454b4346572f7a724d314e564c7365

[2022-08-29 09:33] qzheng527 commented on #988
For rust way DCAP, please refer to the example [`dcap_test.rs`](https://github.com/qzheng527/occlum/blob/k8s_poc/tools/toolchains/dcap_lib/examples/dcap_test.rs)

[2022-08-29 09:52] lz18064638846 commented on #986
I set a timer inside JVM and trap 10 failed mmap trials and they took 60s in total

[2022-08-29 13:02] guzongmin commented on #986
@lz18064638846 Can you please provide this java case?

[2022-08-29 14:52] lz18064638846 commented on #986
You could run a empty java program with -Xmx512m -XX:+UseCompressedOops, and trap mmap request with the size of 512MB to see the performance.

[2022-08-30 01:53] ClawSeven commented on #986
Could you show your test code in this issue?  I think your method mmap is not native mmap syscall, it may allocate the heap  of jvm rather than allocate the native memory.

[2022-08-30 05:32] #988 closed

[2022-09-01 07:06] StevenJiang1110 opened #991 "[RFC] Abort copy_bom when copy_bom fails to find dependencies"
- Feature Name: abort_copy_bom
- Start Date: 2022-09-01

# Summary
[summary]: #summary

Abort `copy_bom` when `copy_bom` fails to find dependencies for **copyfiles** defined in bom files.

# Motivation
[motivation]: #motivation

`copy_bom` was introduced in #565 to manage files that will be copied into occlum image. `copy_bom` will try to find all dependent libraries for executable files defined i

[2022-09-02 07:09] Jiax-cn opened #992 "[BUG] How to get the static MRENCLAVE in remote attestation demo?"
# Description
I added some code in the demo of epid in remote attestation to show the MRENCLAVE in the sgx_report. It worked but everytime I rebuilt this demo, I got a different MRENCLAVE value. I wonder if there is a static MRENCLAVE and why the MRENCLAVE changed.

# To reproduce
Steps to reproduce the behavior:
1. run in the docker
 `cd demos/remote_attestation/epid`
2. add following code in `de

[2022-09-02 07:49] guzongmin commented on #992
I guess the timestamp of files changed when you recreated the Occlum instance (i.e. "Copy files into Occlum Workspace and Build".)

[2022-09-02 08:53] liqinggd commented on #992
Hi, I find that the MRENCLAVE is different on SGX1, while the MRENCLAVE is equal on SGX 2. I have no idea about the observation currently.

[2022-09-02 15:44] volcano0dr commented on #992
I think that sgx_proctected_fs derives a different metadata_key when creating files, resulting in different mac values for fs images, even if the contents in the images are the same.

[2022-09-05 07:16] mythi opened #994 "[BUG] occlum package does not include occlum-run binary"
# Describe the bug
According to `occlum --help`:

[code]

To run an Occlum instance, `occlum-run` is used. However, it looks `occlum package` does not include the binary, just a symlink to host installation path:

[code]

# To reproduce
Steps to reproduce the behavior:
1. see above

# Expected behavior
"The resulting package can then be copied to a deployment environment and unpacked as a runnable

[2022-09-05 07:23] guzongmin commented on #994
It is the design. The user could install the runtime with the apt-get command.
Please reference the demo https://github.com/occlum/occlum/tree/master/demos/deployment

[2022-09-05 10:56] mythi commented on #994
I can give it a try but if `occlum package` builds a stand-alone installation, it's probably not clear for the user that something extra is needed especially since the documentation says that everything is included:

[code]

[2022-09-06 02:00] liqinggd commented on #944
Hi @JasonVranek , thanks for reporting this issue.

We have reproduced this bug and fixed it already in https://github.com/occlum/occlum/pull/996

You can rebuild and install the newer occlum libos, or just turn off the ASLR(not recommended)

[2022-09-06 02:03] liqinggd commented on #992
Hi @Jiax-cn, thanks for reporting this bug, it may be fixed by https://github.com/occlum/occlum/pull/996

[2022-09-06 02:25] JasonVranek commented on #944
Thank you! rebuilding with latest commit fixed the issue.

[2022-09-06 02:25] #944 closed

[2022-09-06 06:14] jessehui commented on #994
Hi @mythi, thanks for using Occlum. Sorry for the misunderstanding, you can install `occlum-runtime` package for your deployment environment. This will make the softlinks valid in the package generated with `occlum package` command.

[2022-09-06 12:48] onew0rd opened #1000 "Does occlum support run native Spark ?"
Currently, gramine libos cannot run native Spark perfectly.
Can we run native Spark without any modification (or patch) in Occlum?

Thanks.

[2022-09-06 13:25] ClawSeven commented on #1000
At present, the occlum can't support native Spark, but occlum is capable of supporting Spark with fairly few changes, both local and k8s mode, with **Big Data**.

[2022-09-07 03:43] onew0rd commented on #1000
@ClawSeven ,thanks.
To my best knowledge,
Gramine's fork operation creates a new child process in a new separate enclave, which introduces high overhead to the forks in the Spark.

But, occlum's fork operation creates a new child process in the same enclave (multiple processes share a enclave).
what is the reason that occlum cannot support native Spark?

Thanks.

[2022-09-07 06:55] jessehui commented on #1000
@onew0rd Thank you for using Occlum. It is true that Occlum creates child processes in the same enclave but instead of fork, Occlum only supports posix_spawn nd vfork to create new processes. Thus, we can't support native Spark for now.

[2022-09-07 07:14] onew0rd commented on #1000
@jessehui , thanks a lot!
BTW, does Occlum team have plan to support native Spark? e.g., adding native fork interface into Occlum.

Cloud you please give some tips about running native Spark in Occlum?
It seems that there are two ways: 1) Improving Occlum to support native fork; 2) Patching the native Spark by replacing fork with posix_spwan.

[2022-09-07 07:18] ClawSeven commented on #1000
The spark on occlum project has been published [here](https://github.com/intel-analytics/BigDL/tree/main/ppml/trusted-big-data-ml/scala/docker-occlum). Besides, we don't have plan to support native fork currently.

[2022-09-07 07:44] onew0rd commented on #1000
Thank you for your answer! Its helpful.

[2022-09-07 09:55] Jiax-cn commented on #992
Thank you !! It works now.

[2022-09-07 09:55] #992 closed

[2022-09-07 13:03] mythi commented on #994
I can confirm adding:
[code]

to my container build works.

[2022-09-09 08:02] mythi commented on #871
any updates?

[2022-09-13 07:25] onew0rd commented on #1000
@jessehui Hi, how about the NGO (Next-Gen Occlum)? Does it overcome some shortages of Occlum?
Is there any document to describe the difference between NGO and Occlum?
Thanks.

[2022-09-13 07:46] qzheng527 commented on #797
It is already done. Three different azure MAA demos could be found [`here`](https://github.com/occlum/occlum/tree/master/demos/remote_attestation/azure_attestation)

[2022-09-13 08:39] kesonliu1983 opened #1004 "[BUG] every build return different mr_enclave"
# To reproduce
Steps to reproduce the behavior:
1. cd  occlum/demos/local_attestation
2. run "make clean; make; make test"
3. every time the local attestation return a different mr_enclave

# Expected behavior
for the same code build in same environment , it should return same mr_enclave

[2022-09-13 08:43] volcano0dr commented on #1004
This issue has been fixed in the PR #996.

[2022-09-13 09:10] ClawSeven commented on #1000
@onew0rd , NGO indeed overcome some shortages of Occlum and bring performance enhancements. Mainly advantages of NGO compared to Occlum is io-uring and coroutine. The NGO takes io_uring-based async switchless host calls to obtain better IO performance, besides, it also uses async runtime and coroutine to enhance scheduling performance. The coroutine solve the problem that user need to preset the n

[2022-09-13 10:02] onew0rd commented on #1000
@ClawSeven thanks your comments, looking forward to the product-ready NGO.

[2022-09-13 18:37] agowdamsft commented on #797
closing. thanks for the work here.

[2022-09-13 18:37] #797 closed

[2022-09-14 03:56] onew0rd commented on #1000
@ClawSeven hi, one quick question, if I want  to try the NGO, is there any docker image on the dockerhub?
Or, must I build the NGO locally and manually?

[2022-09-14 05:12] ClawSeven commented on #1000
@onew0rd You could build ngo with occlum docker image and same “make” commands.

[2022-09-15 07:15] TY-cc commented on #988
生成quote的report，你尝试过非默认生成么？

[2022-09-15 07:27] chuan-xu commented on #988
非默认指的是什么？自定义report data吗？

[2022-09-15 10:32] TY-cc commented on #988
对的，在demo里report都是默认的。但是怎么根据实际的enclave来生成report呢？
可以加个联系方式么？ VX: Cch_1015

[2022-09-15 11:03] yunkaibai commented on #979
Hi, Occlum team.
Is there any latest progress about EDMM? I am looking forward to run some native program using Occlum with EDMM. I found that EDMM is already supported in Linux kernel since Linux v5.16 and SGX SDK.

[2022-09-16 00:29] guzongmin commented on #979
EDMM will be supported in Linux kernel 6.0. It is not released yet.

[2022-09-16 00:57] chuan-xu commented on #988
[code]
这个demo里面可以填充report。

[2022-09-16 08:42] qiyuangong opened #1007 "occlum/occlum:0.28.1-ubuntu20.04 image is too large (6.22GB)"
[code]
6.22 GB is too large for external developer to pull from internet. :)

[2022-09-16 10:33] qzheng527 commented on #1007
I did a quick anlalysis by the tool [`dive`](https://github.com/wagoodman/dive) which shows the image efficiency score is 99%.
It means there is not much space to shrink the size by docker skills.
Current occlum docker image includes too many toolchains which users may not need.
The top size contribution parts are:

- dependent packages installed by `apt install`, ~1.8GB
- rust toolchain installed

[2022-09-16 11:37] guzongmin commented on #1007
The Occlum docker image is a development environment for Occlum developers. So I think the easy way for PPML developers is to create a PPML development environment base on the Occlum runtime deb packages. The size could be less than 500MB.

[2022-09-19 02:57] qiyuangong commented on #1007
We used install package a few month ago. That will greatly reduce image size. However, after occlum remove `init/build` from that package, we switched back to occlum image.

We will try to switch to install package again. But still need to wait for @qzheng527 make glibc available.

[2022-09-19 13:31] mythi opened #1009 "[BUG] copy_bom misleading error message"
# Describe the bug
when running `copy_bom` without `rsync` installed, the error does not give the real reason:
[code]

# Expected behavior
Error message that says `rsync` cannot be run.

[2022-09-20 06:57] chrisi2045 commented on #111
@tatetian , I want to ask if occlum supports the SFI feature in its current version (The feature is mentioned in the current readme and the last post is 2 years old).

If it is, the same question as above: Are there instructions on how to enable it? :)

[2022-09-20 09:01] Bonjourz commented on #111
Hi, @chrisi2045 , as mentioned above, SFI feature has not maintained in the latest versions of Occlum. For a version of Occlum with SFI support, checkout [this repo](https://github.com/occlum/reproduce-asplos20).

The **Artifact Appendix** section of our ASPLOS'20 [paper](https://dl.acm.org/doi/pdf/10.1145/3373376.3378469) shows the instructions for how to build the Occlum with SFI feature, and ho

[2022-09-20 13:52] chrisi2045 commented on #111
Hey @Bonjourz , many thanks for the fast awnser.

And also thanks for the hints about the Artifact Appendix and the PJU feature. I will have a look if this can solve my problem. :)

[2022-09-22 02:21] qzheng527 commented on #1009
@mythi Thanks for the info. We will fix this misleading error message.

[2022-09-23 07:52] solio opened #1013 "[BUG] Run demo remote_attestation/init_ra_flow/occlum_server error"
`
[get_platform_quote_cert_data ../qe_logic.cpp:377] Error returned from the p_sgx_get_quote_config API. 0xe046
thread '<unnamed>' panicked at 'IOCTRL IOCTL_GET_DCAP_QUOTE_SIZE failed', src/occlum_dcap.rs:70:13
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace
fatal runtime error: failed to initiate panic, error 5
`

docker image occlum/occlum:0.28.0-ubuntu20.04

docker

[2022-09-23 08:01] qzheng527 commented on #1013
@solio Did you set correct PCCS_URL in your running container? It is in the file /etc/sgx_default_qcnl.conf.
Also, please make sure there is avaiable PCCS service you can access in you env.
You can refer to https://github.com/occlum/occlum/tree/master/example#start-the-tensorflow-serving.
It is the aliyun PCCS service which we verified but you have to work on aliyun ECS.
Otherwise, you have to set

[2022-09-23 08:39] solio commented on #1013
Sorry, I didn't read the document in a correct order LoL. I try that later.
Thank you.

[2022-09-23 09:06] solio commented on #1013
@qzheng527
When added PCCS it report a new error.
`thread '<unnamed>' panicked at 'called `Result::unwrap()` on an `Err` value: "IOCTRL IOCTL_GEN_DCAP_QUOTE failed"', src/lib.rs:39:49
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace
fatal runtime error: failed to initiate panic, error 5`

[2022-09-23 09:09] qzheng527 commented on #1013
@solio Can you just run the simple [`dcap demo`](https://github.com/occlum/occlum/tree/master/demos/remote_attestation/dcap) first to make sure your environment is ok?

[2022-09-23 09:17] solio commented on #1013
@qzheng527 Yeah, it's ok in dcap demo.

[2022-09-23 09:21] qzheng527 commented on #1013
@solio In which step did you meet the problem?
https://github.com/occlum/occlum/tree/master/demos/remote_attestation/init_ra_flow#how-to-run

[2022-09-23 09:28] solio commented on #1013
@qzheng527 When I manually run `occlum run /bin/server localhost:50051` in container (docker run -it --privileged -v /dev/sgx_enclave:/dev/sgx/enclave -v /dev/sgx_provision:/dev/sgx/provision occlum/occlum:0.28.0-ubuntu20.04)

but, it's ok when I run container `sevenzheng/init_ra_server` directly.

[2022-09-23 09:30] solio commented on #1013
I've build the demo remote_attestation/init_ra_flow success

[2022-09-23 09:50] qzheng527 commented on #1013
@solio It is werid. All the recent HW CI init_ra case passed. Can you just use the latest Occlum 0.29.0 docker image to try again?

[2022-09-26 03:34] gaojunjie03 opened #1015 "aesm_service[11]: Failed to create socket"
操作系统: ubuntu-20.04
已按照intel官方文档安装了sgx、sdk、psw服务(sgx1，/dev/isgx)，aesm服务状态为：
`aesmd.service - Intel(R) Architectural Enclave Service Manager
     Loaded: loaded (/lib/systemd/system/aesmd.service; enabled; vendor preset: enabled)
     Active: active (running) since Mon 2022-09-26 10:02:51 CST; 1h 25min ago
    Process: 964 ExecStartPre=/opt/intel/sgx-aesm-service/aesm/linksgx.sh (code=exited, status

[2022-09-26 03:44] qzheng527 commented on #871
@mythi @haosanzi You can try the latest (0.29.0) occlum ( apt install way), the copy_bom tool is in the occlum_0.29.0 debian package, and there is a new debian package occlum-toolchains-glibc for glibc.

[2022-09-26 08:06] solio commented on #1013
@qzheng527 0.29.0 is ok, that's sooooooooooooo great, thank you!

[2022-09-27 01:32] #1013 closed

[2022-09-27 09:40] mythi commented on #871
thanks, I can confirm it works!

[2022-09-29 15:50] marcelamelara opened #1020 "How does Occlum provide MDSFI without MPX?"
The original Occlum design relied on Intel MPX for SFI, but since this feature is no longer supported, does Occlum provide an alternative mechanism for hardware-assisted MDSFI?

[2022-09-29 22:11] tatetian commented on #1020
The SFI feature has been deprecated since we know MPX would be retired by Intel. And no, there is no alternative mechanism.

Recently, we add a user-LibOS isolation mechanism based on Intel MPK. But this is only a hardening mechanism in case that the trusted programs inside an enclave messes up with the Occlum LibOS.

[2022-09-30 15:08] marcelamelara commented on #1020
Thanks for clarifying! This MPK-based hardening is something I proposed for Graphene/Gramine a few years ago, so I'm happy to see it implemented in Occlum.

Does this mean that multi-processes within a single enclave are also no longer supported on Occlum?

[2022-10-03 00:15] tatetian commented on #1020
Occlum's architecture is intact: it still puts multiple processes inside the same enclave. We believe that the single address space architecture strikes a good balance between performance and security.

[2022-10-11 06:59] gaojunjie03 opened #1023 "一个比较大型的项目运行在occlum上会运行报错"
我这里有一个flask项目，里面不仅仅只是提供web服务，整个项目里面包含了很多机器学习、数据库读写、pandas、numpy、sklearn等库，我运行这个项目里面其中一个脚本代码，基本上会扫描整个项目，因为里面会有各种import 、from等其他包文件的python代码。  如果此时我在occlum里运行这个项目（即使我不运行flask，只运行里面某个脚本代码）会报错，如：
`(/root/demos/test/python-occlum) root@91754f59ad80:~/demos/test/occlum_instance# occlum run /bin/ee/RunModel.py DataSqlMerge task-b304042a-4905-11ed-80fd-06bfc8dc7b47
Traceback (most recent call last):
  Fil

[2022-10-11 07:09] qzheng527 commented on #1023
Generally speaking, Occlum can run very complicated big projects, such as spark, pytorch, tensorflow and many JAVA based applications. But Occlum is not Linux, some mismatch has to be mananged by users.
For exampke, in your case, there is no "HOME" environment defined, you can add it to Occlum.json (env->default) and rebuild.
Also, there is only one user (id=0) in Occlum libos.

[2022-10-11 07:31] gaojunjie03 commented on #1023
收到 好的 我试试

[2022-10-12 05:51] #1015 closed

[2022-10-12 05:51] #1023 closed

[2022-10-12 05:55] gaojunjie03 opened #1024 "JVM DLL not found: /usr/lib/jvm/java-1.8-openjdk/jre/lib/amd64/server/libjvm.so"
my Occlum.json  :
`{
  "resource_limits": {
    "kernel_space_heap_size": "512MB",
    "kernel_space_stack_size": "64MB",
    "user_space_size": "2048MB",
    "max_num_of_threads": 64
  },
  "process": {
    "default_stack_size": "16MB",
    "default_heap_size": "128MB",
    "default_mmap_size": "100MB"
  },
  "entry_points": [
    "/bin"
  ],
  "env": {
    "default": [
      "OCCLUM=yes",

[2022-10-13 03:16] #1024 closed

[2022-10-13 03:51] gaojunjie03 opened #1026 "ulimit: open files: cannot modify limit: Operation not permitted"
使用occlum的bash案例，我想修改ulimit -n 的值报错
ulimit -n 65535

ulimit: open files: cannot modify limit: Operation not permitted

[2022-10-13 03:59] gaojunjie03 commented on #1026
加了sudo后，可以执行  但似乎无法生效

[2022-10-13 05:49] #1026 closed

[2022-10-14 02:40] gaojunjie03 opened #1028 "python jpype startjvm failed"
1. 是不是如果是java的项目只能用您们提供的toolchains下的jdk进行编译运行？我试过自己用外面的jdk搞进去occlum_instance里面，用这个jdk去编译然后在occlum上运行会报这个错：
`failed to boot up LibOS: ENOEXEC (#8, Exec format error): unknown executable file format [line = 23, file = src/process/do_spawn/exec_loader.rs]
[ERROR] occlum-pal: occlum_ecall_new_process returns ENOEXEC (line 209, file src/pal_api.c)`

2.我这里有个python项目，项目里面用到了jpype这个库，希望是可以python能够调起java代码

[2022-10-17 06:25] TY-cc commented on #1013
Hi, I have problem about demo of dcap. How to set the pccs in docker?
I have succeed about intel's demo. I want to test the occlum's dacp demo

[2022-10-17 07:31] TY-cc opened #1029 "DCAP: Error returned from the p_sgx_get_quote_config API. 0xe019[BUG]"
# Describe the bug
It return error when I want to test the dcap remote_attestation.

# To reproduce
Steps to reproduce the behavior:
1. I use the docker create a contain with "docker run -it --device /dev/sgx/enclave --device /dev/sgx/provision occlum/occlum:latest-ubuntu20.04"
2. Then i run the command "./run_dcap_quote_on_occlum.sh" in /demos/remote_attestation/dcap/

I get return as follw:

thr

[2022-10-17 08:37] qzheng527 commented on #1013
@TY-cc More precisely it is not to set the PCCS in docker, it is to set the PCCS URL in docker which it is in the file `/etc/sgx_default_qcnl.conf`.  To set up PCCS service by yourself please refer to https://www.intel.com/content/www/us/en/developer/articles/guide/intel-software-guard-extensions-data-center-attestation-primitives-quick-install-guide.html.

[2022-10-19 01:45] TY-cc commented on #1029
It does't have "sgx_enclave" and "sgx_provision" in /dev of docker container.
you should use the follow instruction：

[2022-10-19 01:49] #1029 closed

[2022-10-19 10:05] gaojunjie03 opened #1030 "python os.system()"
python项目里面有需要执行shell命令，所以使用了os.system来执行shell，但发现似乎执行没有效果，也不报错。请问下是否无法这样在occlum内这样操作python代码？有其他方法可以另python执行shell命令吗在occlum内

[2022-10-24 00:45] guzongmin commented on #1030
@gaojunjie03 Please provide a demo to reproduce the bug; it could save the developer's time and priority for this bug.

[2022-10-24 00:46] guzongmin commented on #1028
@gaojunjie03 Please provide a demo to reproduce the bug; it could save the developer's time and priority for this bug.

[2022-10-24 11:57] Antone077 opened #1033 "[BUG]"
# Describe the bug
when I use occlum demos (remote_attestation init_ra_flow ./build_content.sh), I find this link(https://github.com/google/benchmark/)i can`t download.   Then i find this github is not exit(404).

# To reproduce
Steps to reproduce the behavior:
1. cd demos/remote_attestation/init_ra_flow
2. ./build_content.sh
3. when i run this shell(build_content.sh), always Retry scheduled(may i

[2022-10-24 12:46] qzheng527 commented on #1033
@Antone077 Perhaps you need a proxy. The demo init_ra_flow is in the HW-CI action, runs succeefully for every commits merged.
And also the link https://github.com/google/benchmark is accessable on my side.

[2022-10-25 01:16] Antone077 commented on #1033
ok, I know how to proxy my container. Thank you !

[2022-10-25 06:58] TY-cc opened #1034 "Some[RFC]"
- Feature Name: (fill me in with a unique ident, `my_awesome_feature`)
- Start Date: (fill me in with today's date, YYYY-MM-DD)

# Summary
[summary]: #summary

One paragraph explanation of the feature.

# Motivation
[motivation]: #motivation

Why are we doing this? What use cases does it support? What is the expected outcome?

# Guide-level explanation
[guide-level-explanation]: #guide-level-expla

[2022-10-25 07:08] Antone077 commented on #899
@qzheng527 [get_platform_quote_cert_data ../qe_logic.cpp:378] Error returned from the p_sgx_get_quote_config API. 0xe019
thread 'main' panicked at 'IOCTRL IOCTL_GET_DCAP_QUOTE_SIZE failed', src/occlum_dcap.rs:70:13
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

0xe019 means what？how can i deal with it?

[2022-10-25 07:09] Antone077 commented on #899
CPU:  Intel® Core™ i5-10505 CPU @ 3.20GHz × 12

[2022-10-26 01:51] qzheng527 commented on #899
@Antone077 0xe019 means network error. Make sure a valid PCCS_URL in your container env /etc/sgx_default_qcnl.conf.
Also, run `cpuid | grep SGX_LC` in your host to make sure if the SGX/SGX FLC feature is supported on your CPU.

[2022-10-27 08:48] Antone077 commented on #938
@qzheng527 occlum run /bin/rest_api.py
failed to boot up LibOS: ENOEXEC (#8, Exec format error): scrip interpreter is not ELF format [line = 36, file = src/process/do_spawn/exec_loader.rs]
[ERROR] occlum-pal: occlum_ecall_new_process returns ENOEXEC (line 209, file src/pal_api.c)
/opt/occlum/build/bin/occlum: line 337: 54757 Segmentation fault      (core dumped) RUST_BACKTRACE=1 "$instance_dir/bui

[2022-10-29 07:26] guzongmin commented on #1034
Occlum is developed with SGX SDK, users could follow the SGX SDK guide to sign the Occlum image with any key.
https://github.com/intel/linux-sgx

[2022-10-31 06:40] prz23 commented on #509
Why docker image pulled from occlum's dockerhub[1] use an old version of kernel “Linux 4.15.0”[2]，Do I need to upgrade it manually?

[1]https://hub.docker.com/layers/occlum/occlum/0.29.1-ubuntu20.04/images/sha256-de5388e0609d15a4d7797083d69b11d8dcc364c4bc3b9f897922b5e74363cff6?context=explore
[2]Linux version 4.15.0-194-generic

[2022-10-31 06:59] guzongmin commented on #509
@prz23 There are some references to help you.
https://superuser.com/questions/889472/docker-containers-have-their-own-kernel-or-not
https://www.zhihu.com/question/55143510

[2022-10-31 07:16] prz23 commented on #509
Got it.Thanks.

[2022-11-02 07:03] gaojunjie03 opened #1043 "in occlum_instance"
在同一个occlum_instance 不能执行多个occlum run 么？

[2022-11-03 07:38] prz23 opened #1044 "[BUG]Fatal: Failed to retrieve file descriptor allowance: function not implemented"
# Describe the bug
I'm having problems trying to run Geth[https://github.com/ethereum/go-ethereum] in Occlum.
It is `Fatal: Failed to retrieve file descriptor allowance: function not implemented`.

# To reproduce
Steps to reproduce the behavior:
1.  clone Geth `git clone https://github.com/ethereum/go-ethereum`  and `git checkout v1.10.25`
2.  replace `go`  with `occlum-go` in Makefile:   `GORUN =

[2022-11-09 08:21] prz23 commented on #1044
the program will crush when syscalls about  file descriptors is called.

[code]

[2022-11-10 14:11] urnotcoward opened #1048 "[BUG]occlum-pal: FSGSBASE enablement check failed. 【urgent help please！】"
# Describe the bug
while run the helloword, there are following bugs.

root@9d1dcee4d693:~/demos/hello c/occlum workspace# occlum run /bin/hello world
TERROR] Iocclum-pal: SIGILL Caught !(line 37, file src/pal check fsgsbase.c)
[ERROR] occlum-pal: FSGSBASE enablement check failed. (line 85, file src/pal api.c)

# To reproduce
Steps to reproduce the behavior:
1. root@9d1dcee4d693:~/demos/hello c/oc

[2022-11-11 00:11] guzongmin commented on #1048
@urnotcoward Please read https://github.com/occlum/occlum#how-to-use for solution.

[2022-11-11 02:48] Klein920116 opened #1049 "Python flask Demo [BUG]"
I want to run Python with Occlum, and I pull the docker of Occlum.

When I run with occlum run  /bin/app.py, there is a error message "failed to boot up LibOS: EACCES (#13, Permission denied): file is not executable [line = 94, file = src/process/do_spawn/exec_loader.rs]
[ERROR] occlum-pal: occlum_ecall_new_process returns EACCES (line 209, file src/pal_api.c) ".

And I want to know what's wrong w

[2022-11-11 02:49] Klein920116 commented on #1049
There is a sample flask project and it is used to test api whethere can be accessed in Occlum.

[2022-11-11 03:14] ClawSeven commented on #1049
Because the latest python package from conda is non-PIE and it is unsafe in TEE, occlum would crash directly.
Please use python version before 3.8.13, such as python 3.8.10.

[2022-11-11 03:21] Klein920116 commented on #1049
But I download the version of python is 3.7.10, is it correct?

[2022-11-11 03:31] Klein920116 commented on #1049
The errors are still occured even though I have updated python version.

[2022-11-11 03:34] ClawSeven commented on #1049
@Klein920116 Python 3.7.10 is OK. Could you use `file ./python` and show me the results?

[2022-11-11 03:36] qzheng527 commented on #1049
@Klein920116 Please use the latest flask demo in github, which is successful in our CI.

[2022-11-11 03:39] Klein920116 commented on #1049
Actually, I just write a sample flask code in my python project.

[2022-11-11 03:39] Klein920116 commented on #1049
The same error.

[2022-11-11 03:42] Klein920116 commented on #1049
When I try to occlum run your demo code. The error shows below:

failed to boot up LibOS: ENOEXEC (#8, Exec format error): scrip interpreter is not ELF format [line = 36, file = src/process/do_spawn/exec_loader.rs]
[ERROR] occlum-pal: occlum_ecall_new_process returns ENOEXEC (line 209, file src/pal_api.c)

[2022-11-11 03:50] Klein920116 commented on #1049
@ClawSeven

[2022-11-11 03:50] Klein920116 commented on #1049
@qzheng527

[2022-11-11 09:12] Klein920116 commented on #373
Could you please paste your demo code here? I have encountered the same problem and bother me two days.

[2022-11-17 03:00] Klein920116 opened #1051 "Collecting package metadata"
Why does it take so long while installing python environment?
![0IxGuZz84E](https://user-images.githubusercontent.com/32562572/202344174-36e73121-65f6-49eb-b09d-81b01a2f8191.jpg)

[2022-11-23 03:13] Klein920116 opened #1053 "Does the occlum support Django framework?"

[2022-11-23 03:45] Marshalzxy opened #1054 "Why mpx_bndxx define in mpx_utils , but not been call in anywhere[BUG]"
# Describe the bug
Why mpx_bndxx define in mod mpx_utils , but not been call in anywhere.
mpx_utils define 4 pub functions:
mpx_bndmk
mpx_bndcu
mpx_bndcu
mpx_enable
Only mpx_enable is called, why the rest three pub funcs are not called anywhere in this project. Are these funcs useless for now ?
I read occlume paper which pulished in 2020 'Occlum: Secure and Efficient Multitasking Inside a
Single E

[2022-11-23 06:11] jessehui commented on #1054
MPX has been given up by Intel and is no longer supported in Occlum.

[2022-11-23 06:19] Marshalzxy commented on #1054
Thanks!

[2022-11-23 06:19] #1054 closed

[2022-11-23 08:03] Klein920116 opened #1055 "Python flask demo bug"
failed to boot up LibOS: EACCES (#13, Permission denied): file is not executable [line = 94, file = src/process/do_spawn/exec_loader.rs]
[ERROR] occlum-pal: occlum_ecall_new_process returns EACCES (line 210, file src/pal_api.c)

Does anyone solve this problem? no words to say but fxxk

[2022-11-23 08:35] Klein920116 commented on #1055
The error encounter several weeks, nobody solve it?

[2022-11-23 08:55] liqinggd commented on #1053
We have not tried the project, welcome to contribute it if you're interested.

[2022-11-23 09:06] Klein920116 commented on #1055
It's ridiculous. I just copy your demo code to my python file and rename it.

[2022-11-23 18:31] tychobrailleur commented on #1055
FWIW, I pulled the latest docker image, ran the flask demo with no problem.  I also tried to rename the python file and re-built the enclave – and again no problem.  Did you change the `flask.yaml` with the new filename, and re-built the enclave before running?

[2022-11-25 01:01] qiyuangong commented on #1007
Issue addressed by #5989.

[2022-11-25 01:01] #1007 closed

[2022-11-25 07:24] Mrkuib commented on #1029
hello，I used this command to start the container, but still reported the same error, and later looked at the information may be a PCCS configuration problem, I want to ask you how to configure PCCS

[2022-11-25 09:54] Mrkuib commented on #1013
Please ask how you installed pccs in docker, I installed it according to your method or failed, and the occlum command could not be parsed after installation

[2022-11-30 07:16] Klein920116 commented on #1055
Thanks for your answer. The issue has been solved. The problem is I need to chmod 777 files(relavant python files), otherwise would get same error forever for me.

[2022-11-30 07:17] #1051 closed

[2022-11-30 07:21] Klein920116 opened #1059 "occlum run[BUG]"
When I run the command "occlum run /bin/app.py" to start a flask project, the error shows below.

And when I run the command **second time**, the project could be run normally.

thread '<unnamed>' panicked at 'data dirty when dropping', /root/occlum/deps/sefs/rcore-fs/src/dirty.rs:60:9
stack backtrace:
   0: rust_begin_unwind
   1: core::panicking::panic_fmt
             at library/core/src/panick